@media screen and (max-width: 350px){
	.container{
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
	}
}

@media screen and (max-width: 850px){
	.container{
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
	}
}

@media screen and (max-width: 768px){
	.sticky .mod1{
		width: 100% !important;
	}
	.first{
		padding-right: 0px !important ;
	}
}
@media screen and (max-width: 351px){
	.sticky .mod1{
		width: 100% !important;
	}
}




@media screen and (max-width: 1599px){

	
	input.product_id{
		float: left ;
		height: 40px;
		width: 15%;
		font-size:18px;
		font-weight: bolder;
		text-align: center;
		margin-right: 1%;
	}
	.comment_content input.review_txt{
		width: 100%;
	}
	input.review_txt{
		width: 84%;
		text-align: center;	
		height: 40px;
	}

	.rate_box{
		float: left;
		width: 20%;
	}

	.sub_panel{
		float: left;
		width: 20%;
		padding: 1%;
		margin-top: 8px;
		/*background: red;*/
	}
}


/*@media screen and (max-width: 950px){*/
@media screen and (max-width: 1399px){

	
	input.product_id{
		float: left ;
		height: 40px;
		width: 13%;
		font-size:14px;
		font-weight: bolder;
		text-align: center;
		margin-right: 1%;
	}
	.comment_content input.review_txt{
		width: 100%;
	}
	input.review_txt{
		width: 86%;
		text-align: center;	
		height: 40px;
	}

	.rate_box{
		float: left;
		width: 25%;
	}

	.sub_panel{
		float: left;
		width: 20%;
		padding: 1%;
		margin-top: 8px;
		/*background: red;*/
	}
	a.com_submit{
		/*width: auto;*/
		padding-left: 0px;
		padding-right: 0px;
		width: 100px;
	}
}


@media screen and (max-width: 1199px){

	
	input.product_id{
		float: left ;
		height: 40px;
		width: 18%;
		font-size:15px;
		font-weight: bolder;
		text-align: center;
		margin-right: 1%;
	}
	.comment_content input.review_txt{
		width: 100%;
	}
	input.review_txt{
		width: 81%;
		text-align: center;	
		height: 40px;
	}

	.rate_box{
		float: left;
		width: 29%;
	}

	.sub_panel{
		float: left;
		width: 19%;
		padding: 1%;
		margin-top: 12px;
	}
	a.com_submit{
		/*width: auto;*/
		padding-left: 0px;
		padding-right: 0px;
		width: 100px;
	}
}

@media screen and (max-width: 999px){

	input.product_id{
		float: left ;
		height: 40px;
		width: 18%;
		font-size:13px;
		font-weight: bolder;
		text-align: center;
		margin-right: 1%;
	}
	.comment_content input.review_txt{
		width: 100%;
	}
	input.review_txt{
		width: 81%;
		text-align: center;	
		height: 40px;
	}

	.rate_box{
		float: left;
		width: 40%;
	}

	.sub_panel{
		float: left;
		width: 60%;
		padding: 1%;
		margin-top: 12px;
		/*background: red;*/
		margin-left: 20%;
	}
	a.com_submit{
		/*width: auto;*/
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
	}
}

@media screen and (max-width: 699px){
	.comment_review_input{
		width: 100%;
		float: left;
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	
	input.product_id{
		float: left ;
		height: 40px;
		width: 18%;
		font-size:15px;
		font-weight: bolder;
		text-align: center;
		margin-right: 1%;
	}
	.comment_content input.review_txt{
		width: 100%;
	}
	input.review_txt{
		width: 81%;
		text-align: center;	
		height: 40px;
	}

	.rate_box{
		float: left;
		width: 50%;
	}

	.sub_panel{
		float: left;
		width: 50%;
		padding: 1%;
		margin-top: 12px;
		margin-left: 0%;
	}
	a.com_submit{
		/*width: auto;*/
		padding-left: 0px;
		padding-right: 0px;
		width: 150px;
	}
}

@media screen and (max-width: 499px){
	.comment_review_input{
		width: 100%;
		float: left;
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	
	input.product_id{
		float: left ;
		height: 40px;
		width: 18%;
		font-size:12px;
		font-weight: bolder;
		text-align: center;
		margin-right: 1%;
	}
	.comment_content input.review_txt{
		width: 100%;
	}
	input.review_txt{
		width: 81%;
		text-align: center;	
		height: 40px;
	}

	.rate_box{
		float: left;
		width: 70%;
		margin-left: 17%;
	}

	.sub_panel{
		float: left;
		width: 100%;
		margin-top: 12px;
		margin-left: 0%;
	}
	a.com_submit{
		/*width: auto;*/
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
	}
}






@media screen and (max-height: 880px){
	.nav_text h3{
		font-size: 16px;
	}
	.nav_page .nav_title h2{
		font-size: 130%;
	}
	.sub_nav_list h4{
		padding: 6%;
		font-size: 110%;
	}
	.sub_nav_list img{
		max-width: 35px;
		max-height: 35px;
	}
	.food_nav .per_sub_nav{
		margin: 0 auto;
		width: 70%;
	}
	.life_style_nav .nav_title h2{
		font-size: 110%;
	}

	.life_style_nav .sub_nav_list h4{
		padding: 3%;
		font-size: 90%;
	}
	.life_style_nav .sub_nav_list img{
		max-width: 30px;
		max-height: 30px;
	}

	.education_nav .nav_title h2{
		font-size: 100%;
	}

	.education_nav .sub_nav_list h4{
		padding: 3%;
		font-size: 80%;
	}
	.education_nav .sub_nav_list img{
		max-width: 25px;
		max-height: 25px;
	}

	.residence_nav .nav_title h2{
		font-size: 100%;
	}

	.residence_nav .sub_nav_list h4{
		padding: 3%;
		font-size: 80%;
	}
	.residence_nav .sub_nav_list img{
		max-width: 25px;
		max-height: 25px;
	}
}

@media screen and (max-height: 650px){
	.life_style_nav .nav_title h2{
		font-size: 110%;
	}

	.life_style_nav .sub_nav_list h4{
		padding: 1%;
		font-size: 90%;
	}
	.life_style_nav .sub_nav_list img{
		max-width: 20px;
		max-height: 20px;
	}	
}

@media screen and (max-height: 500px){

	.nav_page .nav_text h3{
		font-size: 100%;
	}

	.nav_title h2{
		font-size: 100%;
	}

	.sub_nav_list h4{
		padding: 0%;
		font-size: 90%;
	}
	.sub_nav_list img{
		max-width: 17px;
		max-height: 17px;
	}	


	.life_style_nav .nav_title h2{
		font-size: 110%;
	}

	.life_style_nav .sub_nav_list h4{
		padding: 0%;
		font-size: 90%;
	}
	.life_style_nav .sub_nav_list img{
		max-width: 17px;
		max-height: 17px;
	}	
	.life_style_nav .sub_nav_list_inside{
		width: 50%;
		float: left;
	}
	.life_style_nav .per_sub_nav{
		margin: 0 auto;
		width: 100%;
	}
}



@media screen and (max-width: 786px){
	.navbar-nav > li > a{
		padding: 15px;
	}
}



@media screen and (max-width: 355px){
	.area-demo .area{
		width: 48% !important;
		margin-left: 1%;
	}
}

@media screen and (min-width: 767px){
	.sticky .mod1{
		width: 86.4% !important;
	}

	.all_class{
		display: none;
	}
}

@media screen and (max-width: 766px){
	.home{
		display: none !important;
	}
}


@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    } 
}


@media screen and (max-width: 550px){
	.contact .container{
		margin-left: 0px !important;
	}
	.contact{
		padding-left: 4px;
		padding-right: 4px;
	}
	#contact{
		float: left;
		margin-top: 160px;
		max-width: 250px;
		padding: 0px;
		/*margin-top: 160px;*/
		width: 180px;
		margin-left: 20%;
	}
	fieldset{
		margin: 0 0 0px !important;
	}
}




@media screen and (max-width: 450px){

	.header_top{
		float: left;
		width: 100%;
		height: 35px;
		margin-bottom: 10px;
	}


	.container{
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
	}

	.logo_moto{
		float: left;
		width: 32% !important;
		margin-bottom: 10px;
		padding-left: 10px;
		padding-top: 2px;
	}
	.logo-size{
		max-height: none;
		max-width: none;
		width: 100%;
	}

	.connectivity{
		/*width: 50%;*/
		padding-top: 2px;
		float: right;
		margin-bottom: 10px;
		max-width: 170px;
	}
	.profile_but{
		padding-top: 1px;
		float: left;
	}
	.social_network{
		/*padding-top: 1px;*/
		float: right;
		padding-right: 10px;
		padding-top: 1px;
	}
	.social_network img, .profile_but img{
		height: 30px;
		width: 30px;
	}
	.header {
	    margin-top: 10px;
	    margin-bottom: 10px;
	}

	.location_filter select{
		padding: 8px;
		border: none;
		border: 1px solid #ff751a;
		border-radius: 1px;
		width: 100%;
		outline: none;
		color: #ff751a;
		background: white !important;
		height: 37px;
	}

	.location_filter option{
		color: black;
		font-size: 12px;
	}

	.location_filter select{ 
		float: left;
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  	appearance: none;
	 	 background: url(../image/default_image/location.png) 95%/9% no-repeat #eee;
	}

	.search_box {
	    margin: auto;
	    width: 100%;
	    margin-bottom: 0px;
	    min-width: none;
	    border-radius: 1px;
	    padding: 2px;
	    float: left;
	}
	.location_filter{
		width: 100%; 
		float: left;
		padding-right: 0px !important;
		margin-bottom: 10px;
	}
	.col-md-12{
		padding-left: 0px !important;
		padding-right: 0px !important;


	}
	.search{
		width: 100%;
		float: left;
	}

	.col-md-12{
		float: left;
		padding-left: 9px;
		padding-right: 9px;
		width: 100%;
	}
	.search.col-md-9{
		padding-right: 0px !important;
	}

	.footer_map_sub_cata{
		display: none;
	}
	.join{
		float: left;
	}
	.join a span{
		display: none;
	}
	.join a:after{
		content: "join";
	}

	.profile_but{
		margin-right: 0px;
	}
}

/*below 510px*/
@media screen and (max-width: 850px){
	.content_list{
		float: left;
		width: 100%;
		margin-bottom: 5px;
		padding: 10px;
		background-color: rgb(255, 255, 255);
		/*border-radius:50px;*/
		/*border-bottom-left-radius:50px;*/
	}

	.content_list_image{
		float: left;
	}

	.content_list_image img{
		height: 95px;
		border: 1px solid rgb(230,230,230);
		border-radius: 50px;
	}

	.content_list_info{
		margin-left: 100px;
		/*text-align: center;*/
		padding-top: 10px;
	}

	.content_list_name{

	}
	.content_list_name h2{
		font-family: 'El Messiri', sans-serif;
		/*color: rgb(100,100,100);*/
		color: #ff6600;
		font-size: 20px;
	}

	.content_list_type span{
		font-family: 'El Messiri', sans-serif;
		color: rgb(100,100,100);
		font-size: 14px;
	}

	.content_list_location span{
		font-family: 'El Messiri', sans-serif;
		color: gray;
		font-size: 12px;
	}

	.content_list_type{

	}

	.comment_op_tab a{
		width: 50%;
	}
	.comment_op_tab li.active a{
		width: 50%;
	}
	.inside_top_right_panel{
		padding-left: 0px;
	}

	.product_id{
		width: 40% !important;
		margin-bottom: 10px;
	}
	textarea.review_txt{
		float: left;
		width: 100%;
		min-height: 100px;
	}

	

	.footer_option_a{
		width: 25% !important;
	}
	.footer_option a{
		width: auto;
	}

	.profile_right{
		float: left;
		width: 100%;
	}

	.profile_right li{
		float: left;
		font-size: 12px;
		width: 19%;	
	}
	.profile_right li a{
		padding: 8px;
		color: #ff751a !important;
	}
	.profile_right li.package_name a span{
		display: none;	
	}
	.profile_right li.package_name a:after{
		content: "PACKAGE";
		font-size: 13px;
	}

	.point_table_list_title{
		display: none;
	}
	.user_point_table_list{
		text-align: center;
		margin-bottom: 10px;
	}
	.user_point_table_list span{
		padding: 5px !important;
		border: none;
		min-height:30px !important;
	}

	span.package_list_no{
		float: left;
		width: 10%;
		background-color: rgb(200,200,200);
		padding: 5px;
		border-radius: 50px;

	}
	span.package_list_name{
		float: left;
		width: 80%;
		margin-left: 10%;
		font-weight: bold;
		/*background-color: red;*/
		border-bottom: 1px solid rgb(200,200,200);
	}
	span.package_list_des{
		float: left;
		margin-left: 20%;
		width: 80%;
		/*border-bottom: 1px solid rgb(200,200,200);*/
	}
	span.package_list_points{
		float: left;
		width: 20%;
		text-align: center;
	}
	textarea.package_list_send_massage{
		float: left;
		width: 80%;
		border: none;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	button.package_list_btn{
		margin-top: 5px;
		float: left;
		width: 100%;
		background-color: white;
		border: 1px solid orange;
		min-height:40px !important;
	}

	span.package_list_points span{
		display: block;
		text-align: center;
		width: 100%;
	}


	.footer.col-sm-12{
		margin-top: 0px;
	}


	.search_result_panel{
		float: left;
		width: 100% !important;
	}

	.search_result_box{
		height: 150px;
	}

	.main_content_center{
		width: 100% !important;
	}
	
	
	.menu_btn p{
		display: none;
	}
}



@media screen and (min-width: 768px){
	
} 

@media screen and (max-width: 768px){
	.only_com_user_info{
		float: left;
		width: 100%;
	}
	.com_user_all{
		float: left;
	}

	.only_com span.name{
		font-size: 18px;
		font-weight: bold;
	}
	.only_com .com_user_content_info{
		font-size: 16px;
	}

	.review_comment{
		float: left;
		width: 100%;
	}

	.rate_opinion{
		padding-left: 0px;
	}
}


	