* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue','Helvetica', Arial, sans-serif;
}

.main-content {
	height: 800px;
	width: 1000px;
	margin: 0 auto;
}

.overlay-bg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
	cursor: pointer;
	z-index: 1000; /* high z-index */
	/*background: #000; 
	background: rgba(0,0,0,0.75);*/
	background: black;
	opacity: 0.7;
}

.overlay-bg-new {
	/*display: none;*/
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
	cursor: pointer;
	z-index: 1500; /* high z-index */
	background: #000; /* fallback */
	background: rgba(0,0,0,0.75);
}


	.overlay-content {
		display: none;
		/*background: #fff;*/
		padding: 1%;
		width: auto;
		margin-top: 5%;
		cursor: default;
		z-index: 10001;
		/*box-shadow: 0 0 5px rgba(0,0,0,0.9);*/
		position: fixed;
		width: 80%;
		height: 70%;
		overflow-y: scroll;
		overflow: hidden;
		border-radius: 2px;
	    margin-top: 3% !important;
	    height: 85% !important;
	    margin-left: 8%;
	}

	.close-btn {
		float: left;
		cursor: pointer;
		border: 1px solid #333;
		padding: 5px;
		border-radius: 50px;
		box-shadow: 0 0 4px red;
		background: #a9e7f9; /* fallback */
		background: -moz-linear-gradient(top,  #a9e7f9 0%, #77d3ef 4%, #05abe0 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e7f9), color-stop(4%,#77d3ef), color-stop(100%,#05abe0));
		background: -webkit-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
		background: -o-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
		background: -ms-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
		background: linear-gradient(to bottom,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
		
	}
	.close-btn:hover {
		background: #05abe0;
	}

/* media query for most mobile devices */
@media only screen and (min-width: 0px) and (max-width: 480px){

	.overlay-content {
		width: 96%;
		margin: 0 2%;
		left: 0;
	}
}









/*OVERLAY NEW*/
/*OVERLAY NEW*/
/*OVERLAY NEW*/
/*OVERLAY NEW*/
/*OVERLAY NEW*/
/*OVERLAY NEW*/
.button
{
  width: 150px;
  padding: 10px;
  background-color: #FF8C00;
  box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
    font-weight:bold;
  text-decoration:none;
}
#cover{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display:none;
}
#loginScreen
{
    height:380px;
    width:340px;
    margin:0 auto;
    position:relative;
    z-index:10;
    display:none;
  background: url(login.png) no-repeat;
  border:5px solid #cccccc;
  border-radius:10px;
}
#loginScreen:target, #loginScreen:target + #cover{
    display:block;
    opacity:2;
}
.cancel
{
    display:block;
    position:absolute;
    top:3px;
    right:2px;
    background:rgb(245,245,245);
    color:black;
    height:30px;
    width:35px;
    font-size:30px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
}
/*OVERLAY NEW*/
/*OVERLAY NEW*/
/*OVERLAY NEW*/
/*OVERLAY NEW*/
/*OVERLAY NEW*/
/*OVERLAY NEW*/



#login_popup2{
	background: white;
}