
body{
	
	background: #e6e6e6;
	
	font-family: 'Open Sans', sans-serif;

	/*background-image: url("../image/back.jpg");
	background-repeat: repeat-y;
	background-size: 100%;*/
}
body a{
	/*transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;*/
	transition: 0.3s all;
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
}
a{
	outline: none !important;
}
 ul{
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6,label,p{
	margin:0;	
}

.container{
	width: 88%;
}

.header{
	margin-top: 20px;
	width: 100%;
	margin-bottom: 40px;
}
.moto{
	width: 95%;
	float: left;

}

.logo-size{
	max-height: 100px;
	max-width: 200px;
	float: left;
}
.moto h3{
	float: left;
	padding-top: 4%;
}
.join{	
	float: right;
	/*padding-bottom:8.2%; */
	/*width: 30%;*/
	margin-right: 20px;
}


.sub-cata-pos{
	margin-top: -20px;
}




.con-pos{
	padding-left: 00px;
	padding-right: 00px;
	width: 100%;
	
}

.main-top{

}
/*MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  */
.mod1{
	border: none;	
	
	background: transparent;
	border-radius: 0px;
	width: 100%;	
	min-height: 40px;
	text-align: center;
	/*border-color: transparent;*/

}
.nav > li > a{
/*	padding-left : 10%;
	padding-right: 10%;*/		
}
.mod{
	/*background-color: red;*/
	margin-left: 0%;

	width: 101%;
	margin-right: 0%;
	/*border-color: transparent;*/
	border-right: none;
	/*overflow: hidden;*/
	text-align: center;

}

.mod .cata
{
	/*position: relative;*/
	/*line-height:-10px !important;*/
	/*margin-left: 1px;*/
	background-color: green;
	/*opacity: 0.8;*/
	/*width: 5%;*/
	/*font-size: 100%;*/
	padding: 0.0%;
	/*display: inline-block;*/
	display: inline;
	margin-top: 0px;
	text-align: center;
	/*width: 9.9%;  with service and transport*/
	/*width: 10.5%;*/
	/*width: 11.6%;*/
	width: 12.5%;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
	margin-left: 0px;
	margin-right: 0px;
}
..navbar-nav{
	margin: 0px 0px !important;
}
.navbar-inverse .navbar-nav > li > a{
	background: green;
}

.navbar-inverse .navbar-nav > li.sub_cata_color > a{
	background: transparent;
}
.mod .cata a{
	/*padding-left: 20.4%;*/
	/*padding-right: 20.4%;*/
	line-height: 8px;
	outline: 0;
}



.nav-pos{
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;

	width: 100%;
	min-width: 220px;
	margin: 0 auto;
	float: left !important; 
}
.total-nav .navbar-inverse .navbar-nav  a.cata_a_tag:hover{
	/*background-color: white !important	;*/
	background-color: #404040;
	/*color: green !important; */
}
.nav > li > a{
	padding-left: 0px;
	padding-right: 0px;
}
.total-nav .navbar-inverse .navbar-nav > .active > a, .total-nav .navbar-inverse .navbar-nav > .active > a:focus, .total-nav .navbar-inverse .navbar-nav > .active > a{
	
	/*background-color: #333333;*/
	background-color: transparent;;
	/*opacity: 0.6;*/
	/*background: rgba(0, 0, 0, 0.7);*/
	/*border-left: 3px solid white;*/
	/*border-right: 3px solid white;*/
	/*background-color: white;*/
	/*color: red;*/
	/*padding-bottom: 20px;*/
	background-color: #404040;
}

/*
.total-nav li:hover{
	background-color: rgba(0, 0, 0, 0.7);
}*/

.navbar{
	margin-bottom: 0px;
	position: inherit;
}


.navbar-inverse .navbar-nav > li > a{
	color: white;
}



.total-nav{
	width: 100%;
	margin-left: ;
}

.total-nav .container{
	width: 100%;
}



.sticky {
	position: fixed;
	
	top: 0;
	z-index: 100;
	border-top: 0;
}


.sticky .mod1{
	width: 90% !important;
}



.sticky .navbar-toggle
{
	margin-right: 10px;
}

/*MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  */



/*SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    */

.sub-menu .navbar-nav{
	width: 100%;
}

.sub-cata{
	/*margin-left: 0px;*/
}

.sub-cata .container-fluid{
	padding-left: 00px;
	padding-right: 00px;
	text-align: center;
}
.navbar-inverse{
	background-color: transparent;
}


.sub-cata .navbar-inverse{
	border: 10px;

	/*background-color:hsla(120,100%,25%,0.3);*/
	background-color: rgba(0, 0, 0, 0.7);
	
	/*opacity: 0.6;*/
}

.sub-cata .navbar{
	border-radius: 00px;
	min-height: 0px;
	width: 100%;
}

 



.sub-cata .navbar-nav > li{
	
}
.sub-cata .navbar-nav > li > a{
	padding: 10px;
	outline: 0;
	color: white;
}

/*SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    */

/*FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  */


.filter{
	height: 30px;
	width: 99.80%;
	background-color: #708090;
	margin-left: 2px;
	margin-top: 5px;

}

/*.filter div{
	padding:0px;
	color: white;
	padding-left: 8px;
	background-color: red;
}*/
.fil{
	padding-left: 8px;
}
.filter span{
	font-weight: bolder;
	font-size: 150%;
	color: white;
	
	float: left;
}

.filter .drop-down{
	padding-left: 50px;
	padding-top: 2px;
	height: 20px;
	float: left;
}

.filter .drop-down select{
	float: left;
	height: 26px;
	width: 110px;
	color: #708090;
	font-weight: bolder;
}/*
.sub-cata .sub-menu li:hover{
	background-color: black;
	opacity: 0.1;
}*/

.sub-cata .navbar-inverse .navbar-nav > li > a:focus, .sub-cata .navbar-inverse .navbar-nav > li > a:hover{
	background: white !important;
}
.sub-cata .drop-down select{
	border-radius: 3px;
	margin-left: 10px;
	padding: 4px;
	margin-top: 4px;
	font-weight: bold;
}

.sub-cata input{
	border-radius: 3px;
	margin-left: 10px;
	padding: 4px;
	margin-top: 4px;

}

/*FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  */




/*MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    */

.content{
	margin-left: 0px;
	margin-top: 15px;
}

.area-demo{
}


.area-demo .area{
	/*background-color: #708090;*/
}

.col-sm-9{
	padding-left: 0px;
	padding-right: 0px;
}


.demo-box{
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;

	padding: 10px;
	background-color: #708090;
	/*background-color: #8D99A6;*/
	margin-right: 4px;
	margin-bottom: 4px;	
	border-radius: 2px;
}

.demo-box:hover{
	background-color: #384048;
	padding: 0px;
}
.area a{
	text-decoration: none;
}

.area{
	/*max-width: 298px;*/
	/*max-width: 20%;*/
	/*max-width: 300px;*/
}
.table > tbody > tr > td{
	font-size: 95%;
	line-height: 1.2;
}
.col-sm-3{
	/*width: 20%;*/
	float: left;
}
.demo-box .image-space{
	height: 0px;
}
.demo-box img{
	padding: 5%;
	min-width: 100% !important;

}

.table{
	margin-bottom: 0px;
	color: white;
	text-align: center;
	/*font-weight: bold;*/
	font-size: 110%;
	/*background-color: #CCCCCC;*/
}
/*
.tabole td{
	text-align: center;
	color: red;
}*/

.col-sm-3{	
	padding-left: 0px;
	padding-right: 0px;
}

.side_bar{
	/*background-color: green;*/
	height: auto;
	/*border: 5px solid #0059b3;*/
	/*background: #666666;
	padding: 5px;*/
	padding-left: 1%;
}

.side_bar .top_side_bar_head, .side_bar .bottom_side_bar_head{
	background: #0059b3;
	/*border-bottom: 3px solid #0059b3;*/
	color: white;
	text-align: center;
	margin-bottom: 5px;
	padding-bottom: 2px;
	padding-top:2px;
}



.side_bar .side_bar_content{
	margin-bottom: 5px;
	background: white;
	padding: 10px;
	float: left;
	width: 100%;
	box-shadow:  1px 1px 1px gray;
}
.side_bar .side_bar_content .side_bar_img{
	float: left;
	padding-right: 10px;
}
.side_bar .side_bar_content img{
	width: 80px;
}

.side_bar_bottom{
	float: left;
	width: 100%;
	margin-top: 15px;
}

/*MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    */


/*COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     */

.coming{
	background-color: orange;
	padding-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}


/*COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     */
.review{
	/*float: left;*/
}
.review span{
	color: black;
	font-weight: bold;

}
.rev-pos{
	padding-top: 2px;
}


.review-img{
	background-image: url("image/star.png");
	width: 153px;
	height: 24px;
	background-position: 0px 144px;
	display: inline-block;

}
.review-img2{
	background-image: url("image/star2.png");
	height: 24px;
	display: inline-block;

}
.review-img .per{
	
}

.graph{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	background-color: white;	
	/*float: left;*/
}

.graph .gp{
	height: 100px;
	width: 398px;
	float: left;
}

.graph .level{
	height: 100px;
	width: auto;

}
img.level{
	
	margin-top: 30px;

}
.info-field{
	margin-top: 8px;
	margin-right: 0px;
	/*border: 2px solid green;*/
	margin: 5px;
	margin-left: 0px;
	
}

.info-field .review{
	float: left;
	
}
.narrow_pattern{
	margin-bottom: 5px;
	/*width: 99%;*/
}
.narrow_pattern .shop_title {
	background-color: green;
	text-align: center;
	/*border: 3px solid green;*/
}
.narrow_pattern .shop_title span{
	font-size: 22px;
	font-weight: bold;
	color: white;
	color: black;
	text-shadow:  1px 1px 0 gray;
}
.info-area{
	margin-bottom: 10px;
	/*background-color: #CFCFCF;*/
	/*background-color: white;*/

	/*border: 2px solid #A3A4A6;*/
	/*border-radius: 3px;*/
	float: left;
	width: 99%;
	/*height: auto;*/
	/*background-color: rgba(0, 0, 0, 0.75);*/
	background: white;
	box-shadow:0.5px 0.5px 2px grey;
}
.info-area-title{
	/*background-color: #A3A4A6;*/
	/*padding-left: 5px;*/
	float: left;
	width: 100%;
	/*padding-right: 30px;*/
	margin-right: 10px;
	height: auto;
	/*text-align: justify;*/
	/*vertical-align: middle;*/
}
.info-area span{
	color: black;
	text-align: center;
}
.info-area-title span{
	width: 100%;
	float: left;
	text-align: center;
	border-bottom: 1px solid gray;
	font-weight: bold;


}
.discription span{

	
}
.info-ans{
	background-color: white;
	/*border-left: 120px solid #A3A4A6;*/
	padding: 10px;
	height: 100%;
	/*padding-left: 50px;*/
	text-align: justify;
/*	margin-top: -30px;
	padding-top: -50px;
	margin-right: 10px;*/
	
}
.info-ans span{
	font-size: 15px;
}
.brand span{
}

.brand-dis {

}








.review img{
}

.content .field{
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;


}
.field{
	margin-top: 10px !important;
}

.first{
	/*background-color: #CFCFCF;*/
	background-color: transparent;
	padding-right: 10px;
	padding-left: 0px;
	margin-top: 0px;
	/*border-right: 10px solid transparent;*/
}

.second{
	background-color: transparent;
	padding-right: 0px;
	padding-left: 0px;
	height: auto !important;
	margin-bottom: 10px;

	/*height: 800px !important;*/
}

.field .col-sm-12, .field .col-sm-6{
	/*height: auto !important;*/
}

.col-sm-10{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.third{
	/*background-color: #CFCFCF;*/
	padding-right: 0px;
	padding-left: 0px;
	/*height: 3000px;*/
}

/*slide show*/
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
 .carousel-inner > a
 {
 	

 }
 .a-pos{
 	margin-left: -213px;
 	padding-top: -100px;
 }
 .glyphicon{
 	margin-left: 290px;
 }
 .carousel-control.left,  .carousel-control.right{
 	visibility: visible;	
 }
/*slides show*/
.col-sm-5{
	padding-left: 0px;
	padding-right: 0px;
}

.first h4{
	margin-top: 10px;
	
}

.first span{
	font-size: 17px;
	line-height: 30px;
	font-family: sans-serif;
}

.review span{
	float: left;

}
.menu{
	margin-right: 0px;
	margin-top: 0px;
	height: auto;
	margin-bottom: 10px;
	
}
.menu h4{
	text-align: center;
	color: white;
	padding: 5px;
	background-color: #520052;
}
.food_item_list{

}
.food_item_list .table{
	color: black;
		min-height: 400px;
	font-weight: normal;
}

.food_item_list .table th{
	text-align: center; 
}
.food_item_list  .table  .rev{
	margin-right: 0px;
	margin-left: 0px;
}

.food_item_list  .rev-pos{
	padding-top: 25px;
	float: left;
}

/*.food_item_list .review-img2{
	position: -50px;
}*/
.menu .food_list_table_hader{
	/*position: fixed;*/
	/*width: 100%;*/
	margin-bottom: 20px;
	background-color: rgb(120, 120, 120);
	/*color: black;*/
}
 .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	padding: 3px;
}

.food_item_list .table > thead > tr > th, .food .table > tbody > tr > th, .food .table > tfoot > tr > th, .food .table > thead > tr > td, .food .table > tbody > tr > td, .food.table > tfoot > tr > td{
	padding: 0px;
	vertical-align: middle;
}
.food_item_list td{
	/*padding-left: 0px !important;
	padding-right: 0px !important;*/
}
.food_item_list td.table_img{
	/*background: red;*/
	text-align:center;
	width: 1%;
	/*margin-left: 50px;*/
	/*padding-left: 50px;*/
}
.food_item_list .food_list_table_hader th{
	padding-right: 50px;
}


.food_item_list img{
	height: 80px;
}

.food_item_list .item-name {
	padding-left: 0px;
	width: 20%;
	text-align: center;
	vertical-align: middle;

}

.food_item_list td{
	white-space:normal !important;
}

.food_item_list tr.item_filter{
	margin-bottom: 10px;
	border-bottom: 5px solid #CFCFCF;
}
.item_filter{
	background: #FFFFFF;;
}

.food_item_list a.food_list_see{
	/*background-color: lightgreen;
	padding: 5px;*/
	text-decoration: none;
}
.food_item_list a:hover{
	/*background-color: green;*/
	/*color: white;*/
	text-decoration: underline;
}

#food_list_height{
	
	overflow-y: auto;
	overflow-x: auto;
}

.food element{
	display: none;
}

/*
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
*/


/*@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) 
{
  // For Google Chrome
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}*/



.button-list .nav > li > a{
	padding: 0px;
	margin: 0px;
	/*border-radius: 10px;*/
}

.button-list .navbar{
	min-height: 0px;
}

.button-list
{
	margin-left: 0px;
	padding-top: 0px;
}

.wide_pattern .info-area, .wide_pattern #branch_map{
	/*background: #e6e6e6;*/
	float: left;
	width: 100%;
}

.wide_pattern .col-sm-4{
	position: relative;
}
.wide_pattern .button-list{
	width: 50%;
    margin: 0 auto;
}

.button-list a{
	/*margin-right: 11px !important;*/
	padding: 6px !important;
	background-color: #CFCFCF;
	/*border: 1px solid black;*/

	color: black !important;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	margin-left: 100px;
}

.button-list a:hover{
	background-color: green!important;
	color: black;
}



.button-list .navbar-inverse{
	padding-left: 0px;
	margin-left: 0px;
	background-color: transparent;

}
.button-list .navbar-nav{
	margin: 0px 0px;
}
.button-list .navbar{
	width: 100%;
	border-radius: 0px;
	border: none;
}

.col-sm-12{
	padding-left: 0px;
	padding-right: 0px;
}

.map-tab ul{
	padding-left: 25%;
	text-decoration: none;
	border: 0px;
}

.map-tab a{

}

.comment{
	padding-left: 0px;
	padding-right: 0px;
	/*width: 49.5%;*/
	float: left;
	/*background-image: url("image/comment.png");*/
	background: #e6e6e6;

}

.question {
	
	padding-left: 0px;
	padding-right: 0px;
	/*width: 49.5%;*/
	margin-left: 0.5%;
	
}

.comment h3{
	text-align: center;
	/*background-color: #669999;*/
	background-color: #3D5200;
	margin-right: 2px;
	padding: 5px;
	font-weight: bold;
	color: white;
}

.comment .input-field{
	margin-top: 30px;
	/*margin-bottom: 50px;*/
	background: #FFFFFF;
}


.comment select.but{
	height: 40px;
	width: 12%;
	margin-left: 0px;
	font-size: 18px;
	font-weight: bold;
	float: left;

}
.comment .comment_option_pos{

}


.comment .com{
}
.comment .com img{
	height: 83px;
	float: left;
	/*margin-right: 10px;*/
	vertical-align: bottom;
	padding: 5px;
	border:1px solid gray;
	margin-right: 10px;
}



.comment .opinion{
	margin-left: 0px;
	padding-left: 7px;
	margin-bottom: 10px;
	text-align:justify;
	padding-right: 10px;

}
.comment .opinion img{
	float: right;
	height: 200px;
	border: 5px solid white;
	max-width: 400px;
	max-height: 600px;
}
.opinion .opinion_img{
	float: right;
	padding-left: 10px;
	/*max-width: 39%;*/
}


.opinion .col-sm-5 img{
	
}
.comment .opinion span.op{
	text-align:justify;
	padding-right: 5px;

}


.comment .reply_input{
	
}

.comment .reply_input form{
	/*height: 10px;*/
	padding: 5px;
}
.comment .reply_input input.reply_input_txt{
	height: 55px;
	padding-left: 10px;
	width: 80%;
}

.comment .reply_input input.reply_input_but{
	height: 55px;
	padding: 10px;
	width: 10%;
}


.comment .reply{
	/*background-color: #A9A9A9;*/
	background-color: #F0F0F0;
	/*min-height: 100px;*/
	height: auto;
	border-radius: 3px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 5px;
	float: left;
	border: 2px solid white; 
	opacity: 0.9;
	width: 89.8%;
	/*width: 900px;*/
	border: 1px solid green;
	/*margin-left: 100px;*/
	margin-left: 10%;
	margin-bottom: 5px;
}


.comment  .reply img{
	height: 65px;
	float: left;
	margin-right: 10px;
	vertical-align: bottom;
	padding: 5px;
}

.comment .opinion .reply span.op{
	/*text-align:justify;*/

}





.col-sm-6{
	/*padding-right: 0px;
	padding-left: 0px;*/

}


.input-field{
	float: left;
	width: 100%;
}
#review{
	float: left;
}

.col-sm-7{
	padding-left: 0px;
	padding-right: 0px;
}
.comment #review .comment_review_input{
	padding: 26px;
}
.comment #review .comment_review_input input.product_id{
	float: left ;
	height: 40px;
	/*width: 80px;*/
	width: 100%;
	font-size:30px;
	font-weight: bolder;
	text-align: center;
	margin-right: 5px;
}
input#placHchange::-webkit-input-placeholder { 
 	font-size: 15px;
 	color: black;
 	letter-spacing: -1px;
 }
#placHchange::-webkit-input-placeholder {

 	font-size: 15px;
 	color: black;
 	letter-spacing: -1px;
}
#placHchange::-moz-placeholder {
 
 	font-size: 15px;
 	color: black;
 	letter-spacing: -1px;
 } /* firefox 19+ */
#placHchange:-ms-input-placeholder {
 
 	font-size: 15px;
 	color: black;
 	letter-spacing: -1px;
 } /* ie */
#placHchange:-moz-placeholder {

 	font-size: 15px;
 	color: black;
 	letter-spacing: -1px;
}


.comment #review .comment_review_input input.product_name{
	
}
.comment #review .comment_review_input input.review_txt{
	width: 100%;
	text-align: center;	
	height: 40px;
	/*width: 85%;*/
}

.comment #review .comment_user_review{
	float: left;
	width: 100%;
	margin-left: 5px;
	font-weight: bold;
	min-width: 220px;
	margin-bottom: 10px;
	border-left: 5px solid #E6E6E6;
	padding-left: 10px;
}
.comment_user_review .comment_review_title{
	float: left;
	width: 70px;
	margin-top: 4px;

}
.comment_user_review img{
	/*width: 200px;*/
	position: absolute;
}


.comment_review_quality{
	margin-bottom: 5px;
	/*border-bottom: 1px solid #C8C8C8;*/
}

#comment{
	float: left;
	width: 100%;
}

.comment_panel{
	float: left;
	width: 100%;
	padding: 26px;
}
.comment_panel_input{
	float: left;
	width: 100%;
}

.comment_panel_input input.txt{
	width: 100%;
	height: 40px;
	text-align: center;
	margin-left: 15px;
}

.comment_panel_sub{
	width: 60%;
	margin: auto;
}

.comment_op_tab a{
	transition: 0s all;
	-webkit-transition: 0s all;
	-o-transition: 0s all;
	-moz-transition: 0s all;
	-ms-transition: 0s all;
}
.comment_op_tab{
	/*background: gray;*/
	width: 100%;
	float: left;
	border-bottom: 2px solid transparent;
	margin-bottom: 10px;
	font-weight: bold;
	background: #CFCFCF;
	border-top: 10px solid #CFCFCF;
}

.comment_op_tab li{
	list-style-type: none;
	margin-bottom: -2px;
}

.comment_op_tab a{
	float: left;
	color: black;
	padding: 10px;
	outline: none;
	text-decoration: none;
}


.comment_op_tab li.active a{
	margin-bottom: -2px;
	padding-top: -2px;
	border: 2px solid transparent;
	border-bottom: 2px solid #FFFFFF;
	border-radius-top: 2px;
	background: #FFFFFF;
}

.comment_op_tab a:hover{
	margin-bottom: -2px;
	padding-top: -2px;
	border: 2px solid transparent;
	border-bottom: 2px solid #FFFFFF;
	border-radius-top: 2px;
	background: #FFFFFF;

}
.sub_panel{
	float: left;
	width: 100%;
	padding: 24.6px;
}
.sub_panel .sub_but_middle{
	width: 80%;
	margin: auto;
}
a.com_submit{
	/*background: green;*/

	color: green;
	padding: 10px;
	font-weight: bold;
	border:1px solid green;
	/*padding-left: 50px;
	padding-right: 50px;*/
	width: 150px;
	display: block;
	text-align: center;
	text-decoration: none;
}
a.com_submit:hover{
	background: green;
	color: white;
}

/*
.comment_op_tab{
	width: 100%;
	float: left;
	
	margin-bottom: 10px;
}
.comment_op_tab a{
	float: left;
	color: green;
	padding: 10px;
	outline: none;
	text-decoration: none;
}

.comment_op_tab a:focus{

	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid #E6E6E6;
	margin-bottom: -1px;
	padding-bottom: -1px;
}


*/







.health-option{
	/*float: right;*/
	background: #CFCFCF;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.health-name{
	float: left;
	margin-top: -4px;
	
}
.edu_teacher-list {
	padding-top: 5px;
	width: 100%;
	margin-top: 10px;
}

.edu_teacher-list iframe{
	 overflow-x: hidden; 
	 overflow-y: hidden;
	 border: none;
	width: 100%;
	height: auto; 

	/*Change able*/
}

.wide_pattern .edu_teacher-list {
	width: 100%;
	margin-top: 10px;
	padding-top: 0px;
}






.item_name_list{
	width: 30000px;
	width: auto;
	background: white !important;

}

.item_name_list .list{
	/*margin-top: 50px;*/
	padding: 10px;
}



.life_item_name_list{
	width: auto;
	background: white !important;

}

.life_item_name_list .list{
	/*margin-top: 50px;*/
	padding: 10px;
	width: 30000px;
}

/*.life_item_name_list .info-box{
	padding: 10px;
	width: 20%;
	height: auto;
	text-align: center;
	float: left;
	width: auto;
	border: 3px solid;
	border-color: green;
	margin-right: 10px;
}
*/

/*.life-list {
	width: 100%;
	margin-top: 10px;
	border: 6px solid black;
	margin-bottom: 10px;
}

.life-list iframe{

	 overflow-x: hidden; 
	 overflow-y: hidden;
	 border: none;
	 width: 100%;
	 height: 300px; 
}
*/



.edu_item_name_list{
	/*width: 30000px;*/
	width: auto;
	margin-top: 30px;
	overflow-y :auto;

}
.edu_item_name_list li{
	display: block;
}

.edu_item_name_list .list{
	/*margin-top: 50px;*/
	margin-top: 10px;
	padding: 0px;
}





.doc-info-box{
	padding: 10px;
	width: 20%;
	height: 100%;
	text-align: center;
	/*float: left;*/
	width: auto;
	border: 3px solid;
	border-color: green;
	margin-bottom: 10px;
}

.edu-info-box{
	padding: 10px;
	/*width: 20%;*/
	height: 100%;
	/*text-align: center;*/
	/*float: left;*/
	/*width: auto;*/
	/*border: 3px solid;*/
	border-color: green;
	margin-bottom: 10px;	
	background: white;
	float: left;

	box-shadow: 1px 1px 2px red;
}
.edu-info-box .col-sm-7{
	padding-left: 0px;
	padding-right: 0px;
}
.fac_doc_img{
	/*alignment-baseline: central;*/
	/*background: red;*/
	float: left;
}

.fac_doc_img img{
	min-width: 130px;
	max-width: 90%;
	padding: 2%;
}

.fac_doc_data{
	padding: 2%;
}
.list_button{
	position: fixed;
	margin-top: 3px;	
}



.list_button a{
	padding: 5px !important;
	color: white !important;
	font-weight: bold;	
	border: 1px solid black;
	border-radius: 3px;
	margin-right: 5px;
	background: black;
	opacity: 0.6;
}

.list_button .navbar
{
	min-height: 0px;
	border: none;
}








/*.life._list_button{	
	position: fixed;
	margin-top: 28px;
	width: 327px;
	float: left;
	float: inherit;
	
}*/







.life_item_name_list .title2{
	background: #003D00;
	/*background: #07C;*/
	text-align: center;
	color: white;
	padding: 10px;


}
.life_item_name_list .title2 span{
	font-size: 20px;
	font-weight: bolder;
	line-height: 20px;
}

/*
.life_list_button{	
	position: fixed;
	height: 283px;
	margin-left: 40px;
}
.life_list_button a{
	color: white !important;
	font-weight: bold;	
	
	background: black;
	opacity: 0.6;
	text-align: center;
}

.life_list_button .navbar
{
	background: rgba(0, 0, 0, 0.75);
	height: 283px;
}

.life_list_button .navbar-nav{
	margin: 0px;
}
.life_list_button li, .life_list_button a{
	height: 282px;
}
.life_list_button .navbar{
	border-radius: 0px;
}
*/



ul{
	list-style-type: none;	
}

.dept_list{
	width: 100%;
	background: transparent;
	position: absolute;
	/*border: 8px solid green;*/
	cursor: pointer;
	display: inline-block;
}
.title_doc_tea{
	background: green;
	width: 100%;
	text-align: center;
}
.title_doc_tea span{
	font-size: 25px;
}

.edu_list_button{
	display: none;
	width: 100%;
}
.edu_list_button li{
	width: 100%;
}
.edu_list_button a{
	padding: 10px !important;
	width: 100%;
	text-align: center;
	background: #333333 !important;;
	opacity: 0.8;
	outline: none;
	color: white;
	font-weight: bold;
}
.edu_list_button a:hover{
	background: black !important;
	color: white;
}

.edu_button_option_list{
	float: none;
}


.title_doc_tea:hover + .edu_list_button{
	display: block;
}

.edu_list_button:hover{
	display: block;
}
















.mod a{
	font-weight: normal;
}

.wide_pattern .button-list{
	
}
.wide_pattern .info_box{
	margin-top: 10px;
	border: 2px solid ;
	/*background: #A0A0A0;*/
	background: #484848;
	margin-bottom: 5px;
}

.wide_pattern .title{
	background: #484848  ;
	text-align: center;
	color: white;

}
.wide_pattern .title span{
	font-size: 30px;
	font-weight: bolder;

}

.wide_pattern .title_info{
	text-align: center;
	padding: 10px;
	
}
.wide_pattern .title_info span{
	font-size: 40px;
	font-weight: bolder;
	color: green;
	/*text-shadow: 3px 1px 0px white;*/

    /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
    color: white;
}



.col-sm-10{
}
.info_box2{
	/*margin-top: 10px;*/
	border-radius: 2px;
	
	/*border: 2px solid #003D00;*/
	
	/*background: #D0D0D0;*/
	margin-bottom: 5px;
	/*border-bottom: 2px solid green;*/
	/*background: #C8C8C8;*/
	background: white;
	box-shadow: 0.2px 0.2px 1px grey;
	float: left;
	width: 100%;
}
.info_box2:hover{
	box-shadow: 1px 1px 2px grey;	
}
.wide_pattern{

}
.wide_pattern .title2{
	/*background: #003D00;*/
	width: 30%;
	margin-top: 0px;
	/*background: #339933;*/
	text-align: left;
	color: white;
	/*background-image: url("image.png");*/
	background: green;
	text-align: right;
	background: linear-gradient(to right,  black -20%, #339933 80%);
}
.wide_pattern .title2 span{
	font-size: 20px;
	font-weight: bolder;
	margin-right: 10px;

}
.wide_pattern .title_info2{
	text-align: center;
	/*border-top: 5px solid #339933;*/
}
.wide_pattern .title_info2 span{
	font-size: 17px;
	text-align: right;
	color: black;
	/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
}




.wide_pattern .col-sm-12{
	margin-top: 0px;
}


.wide_pattern .col-sm-4{
	padding: 0px;
	margin-right: 0px;

}

/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/

/*Elcetronics Product List*/
/*Elcetronics Product List*/
/*Elcetronics Product List*/
/*Elcetronics Product List*/
/*Elcetronics Product List*/
.elec_list{
	margin-bottom: 10px;
} 
/*
.elec_list iframe{
	height: 700px;
	width: 1085px;
	width: 100%;
	float: left;
	border: 5px solid red;
	border: none;
}
*/
.elec_pro_list{
	float: left;
	/*max-height: 500px;*/
	/*overflow-y: scroll;*/
	margin-bottom: 10px;
	background: white;
}
.elec_pro_list .list{
	/*margin-top: 50px;*/
	/*padding: 10px;*/
	float: left;
	margin-top: 0px;
	height: 500px;
	overflow-y: auto;
}
.electonics .title2{
	background: #003D00;
	/*background: #07C;*/
	text-align: center;
	color: white;
	background: red;
	float: left;
}
.electronics .title2 span{
	font-size: 20px;
	font-weight: bolder;
}
.elec-info-box{
	padding: 10px;
	width: 20%;
	height: 100%;
	text-align: center;
	float: left;
	width: auto;
	border: 3px solid;
	border-color: green;
	margin-bottom: 10px;
	margin-right: 10px;
}
/*Elcetronics Product List*/
/*Elcetronics Product List*/
/*Elcetronics Product List*/
/*Elcetronics Product List*/
/*Elcetronics Product List*/
.new_arrival{
	width: 100%;
	height: auto;
	/*border: 3px solid #CCCC00;*/
	border: 3px solid #CCCC00;
	margin-bottom: 10px;
}
.new_arrival .new_title{
	background-color: #CCCC00;
	text-align: center;
	
}
.new_arrival span{
	font-weight: bolder;
	font-size: 24px;
}

.new_arrival .arrival{
	background-attachment: white;
}

.elec_list_but{
	position: fixed;
	display: block;
	/*height: 20px;*/
	width: 100%;
	background: green;
	text-align: center;
}
.elec_list_but ul{
	list-style-type: none;
}
.elec_list_but li{
	float: left;
	padding: 7px;
	width: 50%;
}
.elec_list_but a{
	color: white;
	text-align: center;
	text-decoration: none;
}
.elec_list_but li:hover{
	background: blue;
}

/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
.elec_pro_list .area{
	padding-left: 0px;
	padding-right: 0px;
}
.elec_pro_list .product-box{
	position: relative;
	/*-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
*/

	/*background-color: #708090;*/
	
}


.product_area .product-box-hover {
	position: absolute;
	/*background: black;*/
	/*opacity: 0.5;*/
	background-color:rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	display: none;


}
.product-box-hover .compare, .product-box-hover .details, .product-box-hover .remember{
	padding: 5px;
	background: white;
	width: 80%;
	text-align: center;
	margin-top: 20px;
	margin-left:10%; 
	margin-right:10%;
}

.elec_pro_list .product_area:hover .product-box-hover{
	display: block;

}


.elec_pro_list .product_area {
	text-decoration: none;

	border-bottom: 2px solid red;

	/*background: red;*/
}
.elec_pro_list .product_area a{
	text-decoration: none;

}

.elec_pro_list .product-box .image-space{
	height: 0px;
}
.elec_pro_list .product-box img{
	padding: 5%;
}

.elec_pro_list .pro_table {
	margin-bottom: 0px;
	color: black;
	text-align: center;
	/*font-weight: bold;*/
	font-size: 110%;
	width: 100%;
	float: left;
	/*background-color: #CCCCCC;*/
}
/*
.tabole td{
	text-align: center;
	color: red;
}*/

.elec_pro_list .col-sm-2{	
	padding-left: 0px;
	padding-right: 0px;
	/*width: 16%;*/
}


/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/



/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
.comment_option span{
	background: black;
	color: white;
}
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/



/*ELECTRONICS WINDOW OVERLAP*/
/*ELECTRONICS WINDOW OVERLAP*/
/*ELECTRONICS WINDOW OVERLAP*/
/*ELECTRONICS WINDOW OVERLAP*/
/*ELECTRONICS WINDOW OVERLAP*/

/*ELECTRONICS WINDOW OVERLAP*/
/*ELECTRONICS WINDOW OVERLAP*/
/*ELECTRONICS WINDOW OVERLAP*/
/*ELECTRONICS WINDOW OVERLAP*/
/*ELECTRONICS WINDOW OVERLAP*/
/*ELECTRONICS WINDOW OVERLAP*/

/*ADD*/
/*ADD*/
/*ADD*/
/*ADD*/
/*ADD*/
/*ADD*/
/*ADD*/
.third .add{
	border-top: 20px solid;
	border-left: 5px solid;
	border-right: 5px solid;
	border-bottom: 5px solid;

	/*height: 900px;*/
	width: auto;
	border-color: yellow;
}
/*ADD*/
/*ADD*/
/*ADD*/
/*ADD*/
/*ADD*/
/*ADD*/


/*TOURISM*/
/*TOURISM*/
/*TOURISM*/
/*TOURISM*/
/*TOURISM*/
/*TOURISM*/
.spot-in-map{
	/*background-color: gray;*/
		/*padding-left: 30px;
		padding-right: 30px;*/
		border: 0px solid red;
}
.spot-in-map iframe{
	width: 100%;
	margin-top: 10px;
}
.spot-in-map img{
	width: 100%;
}
.tourist_help{
	background-color: green;
	color: white;
	text-align: center;
	margin-top: 5px;
}
.tourist_help span{
	font-weight: bold;
	font-size: 20px;
}
.tourist_help_list a{
	color: white;
	background-color: gray;
	width: 100%;
	padding: 5px;
	display: inline-block;
	margin-bottom: 2px;
	border-left: 2px solid green;
	border-right: 2px solid green;
	text-decoration:none;
}
.tourist_help_list a:hover{
	background-color: green;
}

.attrction_panel{
	background: white;
	padding: 10px;
	margin-bottom: 10px;
}
.attraction_title{
	width: 100%;
	background: green;
	/*border: 2px solid black;*/
	text-align: center;
	margin-bottom: 10px;
	color: white;
	/*box-shadow: 2px 5px 5px black;*/
	/*margin-bottom: 10px;*/
}
.attraction_title span{
	font-weight: bold;
	font-size: 20px;
}
.attraction, .attraction2{
	max-height: 250px;
	width: 1000% !important;
	display: block;
	position: relative;
	transition: transform 1s ease-in-out;
	transform: translate3d(0px, 0px, 0px);
	float: left;
}
.attraction_box, .attraction_box2{
	/*width: 210px;*/
	float: left;
	/*margin-right: 4px;*/
	/*width: 280px;*/
	/*min-width: 120px;
	max-width: 18%;*/
	max-width: 240px;
	/*padding-right: 10px solid transparent;*/
	padding-right: 10px;
	padding-top: 0px;

}
.attraction_box img, .attraction_box2 img{
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	min-width: 200px;
}

.attraction_info{
	text-align: center;
	padding: 5px;
}
.attraction_info span{
	font-size: 18px;
}

.attraction_iframe{
	height: 350px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.attraction_iframe iframe{
	height: 295px;
	width: 100%;
	/*overflow-y: scroll;
	overflow-x: hidden;*/
	overflow: hidden;
	border: none;
}
.attraction_iframe .col-sm-2{
	padding-left: 0px;
	/*padding-right: 0px;*/
	width: auto;
}

.slide_left_bt, .slide_right_bt, .slide_left_bt2, .slide_right_bt2{
	/*position: absolute;*/
	height: 100%;
	display: inline-block;
	position: absolute;
	z-index: 10;
	opacity: 0.5;
}
.slide_left_bt, .slide_left_bt2{
	right: 0;
	left: auto;
}
.slide_right_bt, .slide_right_bt2{
	right: auto;
	left: 0;
}

/*TOURISM*/
/*TOURISM*/
/*TOURISM*/
/*TOURISM*/
/*TOURISM*/
/*TOURISM*/


/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
.service .title_info2 {
	text-align: left !important;
}
.sub_service{
	margin-top: 5px;
	height: 35px;
}
.sub_service span{
	background: #4DA64D;
	width: 100%;
	padding:10px;
}
.sub_service_content{

}
.sub_service_content span{

}
.service .col-sm-2{
	padding-left: 0px;
	padding-right: 0px;
}
.service iframe{
	border-left: none;
}
.service .title_info2{
	border-right: 2px solid black;
}
.service_branch_list{
	text-align: center;
}
.branch_box{
	margin-bottom: 10px;
}
.service_branch_list .branch_title{
	background: green;
	width: 100%;
}
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/


/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
.transport_name{
	background-color: black;
	text-align: center;
	margin-top: 10px;
}
.transport_name span{
	color: white;
	font-size: 35px;
	font-weight: bolder;
}
.journy_info_table
{
	margin-top: 5px;
}
.journy_info_table table, .journy_info_table td, .journy_info_table th, .journy_info_table tr{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}
.transport .from_to{
	border: 2px solid green;
	padding: 5px;
	margin-top: 7px;
}

.transport .from_to_title{
	
	background-color: green;
	padding: 2px 0px 2px 2px;
}

.transport .from_to_title span{
	/*background-color: green;*/
	font-size: 20px;
	color: white;
	font-weight: bold;
}
.transport .journey_title{
	float: left;
	background-color: #A3A4A6;
	width: 190px;

}
.transport .journey_title span{
	font-size: 17px;
	
	padding: 2px 0px 2px 2px;
	margin-top: 0px;
	width: 200px;
}
.transport .break, .transport .route, .transport .counter{
	margin-top: 7px;
}
.transport .journey_info{

}
.transport .journey_info span{
	font-size: 17px;
	padding: 2px 0px 2px 2px;

}

.transport td.see_fare{
	background-color: lightgreen;
	
}
.transport td.see_fare a{
	font-weight: bold;
	text-decoration: none;

}


.train_fare{
	float: left;
	margin-right: 5px;
	width: 8%;
	word-break: break-all;
}
.train_fare span{
	word-break: break-all;
}
.train_fare_row{
	width: 100%;
}

.fare_display {
	/*display: none;*/
	position: absolute;
	width: 98.5%;
	float: left;
	background-color: #C0C0C0;
	color: black;
	border: none;
}
.fare_row_wide, .fare_display td{
	/*width: 200% !important;*/
	width: 1100px;
}


/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/


.popup img{
	/*height: 150px;*/
	/*float: left;*/
}
.popup_head img.one_img{
	
	width: 100%;
	
}
.popup .single_image{
	/*float: left;*/
	padding: 5px;
	border: 1px solid gray;
	border-radius: 4px;
}

.popup .multi_image{
	/*float: left;*/
	margin-top: 5px;
	padding: 5px;
	border: 1px solid gray;
	border-radius: 4px;
}

.multi_single_img{
	display: initial;	
}








.popup{
	width: 100%;
	height: auto;
	/*min-width: 600px;*/
	display: inline-block;
}
.popup .popup_name{
/*	margin-left: 155px;
	
	padding-left: 10px;*/
}
.popup .popup_name span{
	font-size: 22px;
	word-break: break-all;
	border-bottom: 2px solid green;
}
.popup_rate{
	/*	margin-left: 165px;*/
}



#sub_menu_list, #sub_menu_list2, #sub_menu_list3, #sub_menu_list4, #sub_menu_list5, #sub_menu_list6, #sub_menu_list7{
	display: none;
	/*background-color: red;*/
}

.life-list {
	width: 100%;
	/*margin-top: 10px;*/
	border: 3px solid black;
	/*margin-bottom: 10px;*/
	background-color: #CFCFCF;
	float: left;
	margin-bottom: 10px;
}

.life-list .all_items{
	width: 92%;
	margin-left: 8%;
}

.life-list .fashion_cata_list{
	width: 8%;
	min-width: 80px;
	float: left;
	height: auto;
	/*position: absolute;*/
	overflow-y:auto;
}

.life-list li{
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

li.fashion_cata{
	width: 100%;
	background-color: #180000 ;
	margin-bottom: 2px;
	/*border: 1px solid yellow;*/
	color: white;
}

.fashion_sub_cata li{
	width: 100%;
	background-color:  	rgb(150,150,150);
	margin-bottom: 2px;
	/*border: 1px solid yellow;*/
	color: white;
}

.fashion_product_list{
	display: block;
	/*background-color: rgb(100,100,100);*/
	/*background-color: red;*/
	/*margin-left: 10%;*/
	/*margin-left:80px;*/
	overflow-y: auto;
	min-height: 450px;
	max-height: 500px;
}


.fashion_product_list .info-box{
	float: left;
/*	margin-right: 5px;
	margin-bottom: 5px;*/
	border: 1px solid green;
	margin: 2px;
}


.info_box_img img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 300px;
	max-width: 150px;
}

.product_info{
	background-color: white;
	color: black;
	text-align: center;
}
.product_info td{
	color: rgb(80,80,80) ;
}

.new_arrival .arrival{
	height: auto;
}
.new_arrival table{
	width: 100%;

}

.new_arrival td{
	/*background-color: red;*/

}
.new_arrival tr{
	margin-bottom: 5px;	
}

td{
	text-align: center;
}




.popup_head .col-sm-7{
}

 .popup_des{
 	margin-top: 35px;
	border-left: 5px solid green;
	background: transparent;
}
.popup_head{
	/*display: block;*/
	float: left;
	background: white;
	padding: 10px;
}
.name_rate{
	display: inline-block;
	min-width: 210px;
}
.pro_table{
	/*width: 100%;*/
	/*background-color: green;*/
	/*float: left;*/
}
.elec_details{
	margin-top: 20px;
}
.elec_details th{
	/*border: 3px solid black !important;*/
}
.elec_details th, .elec_details td{
	text-align: center;
	border: 1px solid black;
	height: 35px;
}
.elec_details tr{
}

.elec_details input{
	color: black;
}
.spe_1{
	width: 6%;
	font-weight: bold;
}
.spe_line1{
	background-color: 
}

.spe_line1{
	/*background-color: #787878 ;*/
	background-color: #80CC80;
	color: white;
}

.spe_line2{
	/*background-color: #A0A0A0;*/
	background-color: #CCEBCC;
}

.spe_2{
	width: 25%;
}

.product_details{
	
	background-color: red;
	background-color: #E6E6E6;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	width: 100%;
}
.product_details_1{
	width: 100%;
}

.product_details_2{
	width: 100%;
	padding-top: 10px;
}



.product_details_1 .product_details_left{
	float: left;
	width: 25%;
}
.product_details_1 .product_details_right{
	float: right;
	width: 75%;
	text-align: justify;
	padding-left: 10px;
}

.product_details_2 .product_details_right{
	float: right;
	width: 25%;
}
.product_details_2 .product_details_left{
	float: left;
	width: 75%;
	text-align: justify;
	padding-right: 10px;
}
.product_details_2 .product_details_left span{
	text-align: right;
	float: right;
}

.product_details_2 .product_details_right img{
	float: right;
}

/*.product_details_left{
	float: left;
	margin-top: 10px;
	max-width: 175px;
	max-width: 175px;
}
.product_details_left_des{
	padding-left: 15px;
	padding-top: 8px;
	float: left;
	margin-right: 10px;
}*/


/*.product_details_right{
	margin-top: 10px;
	float: right;
	max-width: 175px;
	max-width: 175px;
	margin-right: 10px;
	margin-left: 10px;
}*/

.product_details_right_des{
	float: right;
	
	margin-top: 10px;
	
}

.product_img{
	position: relative; 
	width: 100%;
}

.product_img_name_left{
	display: none;
	top: 147px;
	background: black;
	opacity: 0.5;
	width: 175px;
	text-align: center;
	position: absolute;

}

.product_img_name_right{
	float: right;
	display: none;
	top: 147px;
	background: black;
	opacity: 0.5;
	width: 175px;
	text-align: center;
	position: absolute;

}

.product_img_name_left span, .product_img_name_right span{
	font-weight: bold;
	font-size: 20px;
	color: white;
}
.product_details:hover .product_img_name_left, .product_details:hover .product_img_name_right{
	display: block;
}

.overlay-content{
	/*border: 5px solid red;*/

	/*border: 2px solid #dadada;*/
    border-radius: 2px;
    outline: none;
    /*border-color: #9ecaed;*/
    /*box-shadow: 0 0 100px #9ecaed;*/
    /*box-shadow: 0 0 100px green;*/
    background: #E6E6E6;
}

.food .product_details{
	margin-top: 20px;
}


.login_main hr{
	width: 200px;
	margin-top: -1px;
}

.login_main input.box{
	width: 200px;
	margin-top: 10px;
	border: transparent;
	font-size: 18px;
}

.login_main input.but{
	width: 100px;
	height: 35px;
	font-size: 15px;
}

.log_in{
	float: left;
}


.sign_up{
	float: left;
	margin-left: 50px;
}

.general_image img{
	/*max-height: 360px;*/
	height: 100%;
}

.footer{
	height: 500px;
}

.cata_sub_cata{
	/*float: left;*/

}
.cata_sub_cata .cata_t{
	float: left;
	margin-right: 90px;
}

.cata_sub_cata .sub_cata_t{
	float: left;
	margin-right: 17px;
}

.map_location{
	float: left;
	margin-left: 10px;
}

#branch_map span.location_span{
	margin-top:40px; 
	margin-left:10px; 
	color:white; 
	background:black; 
	opacity:0.5; 
	position:absolute;
	font-weight: bold;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 4px;
}

#branch_map{
	float: left;
	width: 100%;
	/*margin-top: 20px;*/
}



/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 00%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 00%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 00%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 00%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 0%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 00%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
  background-image:  linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 00%)
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	width: 100%;
}


/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/





/*.com_submit{
	padding: 10px;
	background: white;
	border:0.5px solid gray;
	text-decoration: none !important;
}



.com_submit:hover{
	box-shadow: .5px .5px 1px black;
}
*/



.profile_but{
	display: inline-block;
}

.pro_option{
	display: none;
	margin-top: 0px;
	width: 100px;
	margin-left: -50px;
	position: absolute;
}


.profile_but img{
	width: 40px;
	border-radius: 5000px;
	box-shadow:  0px 0px 0px 4px green;
}
.profile_but a{
	outline: none;
}
.arrow-down{
	/*width: 10px;*/
	margin-left: 58%;
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	
	border-bottom: 15px solid black;
	margin-bottom: -5px;
}
.pro_option li{
	background: #1a0000;
	padding: 5px;
	/*margin-bottom: 1px;*/
	width: 100%;
	text-align: center;
	list-style-type: none;
}

.profile_but:hover  .pro_option{
	display: block;
	position: absolute;
	z-index:10;
}

li.hudai{
	background: transparent;
}

.user_profile .container-fluid{
	padding: 0px;
}
.profile_left{
	text-align: center;
	background:  white;
	float: left;
	position: fixed;
}

.profile_right{
	/*border-left: 20px solid #CFCFCF;*/
	/*background: white;*/
	width: 80%;
	margin-left: 20%;
}
.tab-content{
	overflow-y: auto;
	overflow-x: auto;
	/*height: 700px;*/
	height: auto;
	max-height: 900px;
}
.profile_left img{
	padding: 10px;
}

.profile_right li{
	width: 16.6%;
	text-align: center;
}

.user_comment{
	padding: 20px;
}

.profile_right .user_comment{
	width: 100%;
	height: auto;
	background: white;
	margin-bottom: 5px;
}

.profile_right .user_comment .comment_head{
	border-bottom: 1px solid #CFCFCF;
	padding-bottom: 5px;
}

.profile_right .user_comment .comment_body{
	padding-top: 5px;
	/*padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	*/
}

.profile_right span.bus_pro{
	font-size: 22px;
	font-weight: bold;
	text-decoration: underline;
}

.profile_right span.bus_cata{
	font-size: 12px;
	font-weight: bold;
	color: #808080;
}
.profile_right span.bus_date{
	font-size: 12px;
	color: #808080;
}
.profile_right a{
	outline: none;
}

.nav-tabs{
	background: #686868;
}


.pro_user_review
{
	/*width: 180px;*/
	/*float: left;*/
	box-sizing: border-box;
}

.pro_user_review .comment_user_review{

	width: 100%;
	/*padding-right: 20px;*/
}
 .comment_user_review{
	float: left;	
	width: 100%
}

.pro_user_review_txt{
	padding-left: 16%;
}

.food_item_table{
	margin-top: 10px;	
}

#but_list_noti{
	/*display: none;*/
}
.bookmark_left{
	width: 49.5%;
	float: left;
	overflow: auto;
	height: 850px
}


#bookmark .comment_head{
	border-bottom: none !important;
	padding-right: 20px;
	float: left;
}

.bookmark_left .bus_type{
	margin-top: 30px;
}

.bookmark_right{
	margin-left: 1%;
	width: 49.5%;
	float: left;
	height: auto;
	overflow: auto;

	height: 850px;
}
.bookmark_right .bus_type{
	margin-top: 30px;
}

.title_info2{

	text-align: justify !important;
    padding-left: 10px;
    padding-right: 10px;
    	
}
.title_info2 span{
}

.info_box2{
	/*max-height: 150px;*/
	overflow: hidden;
	
}


 .see_more{
	display: none;
	text-align: right;
	padding-bottom: 4px;
	padding-right: 1px;
	position: relative;
	margin-top: -27px;
	position: inherit;
	margin-bottom: 10px;
}


 .see_more a{
	padding: 5px;
	background: gray;
	color: white;
	outline: none;
}

/*<div class="see_more" style=""><a href="" onclick="seeMore()">See More</a></div>*/
/*

			$wptop = '<div class="info_box2">
						<div class="title2">
							<span>
			';
			$wpmiddle = 	'</span>
						</div>
						<div class="title_info2">
						<span>
			';
			$wpbottom = '
						
				</div>
				<!--<div class="see_more" style=""><a href="" onclick="seeMore()">See More</a></div>-->
			';

onclick=\"this.parentElement.style.height = '500px';
$wpbottom." <div class='see_more'><a href='#0' >See More</a></div>  </div>";
*/



.profile_image_frame iframe{
	width: 100%;
	min-height: 400px;
	background: gray;
	border:none;
	overflow: hidden !important;
}

.profile_image_frame iframe img#thumbnail{
	max-width: 100px !important;
	/*max-height: 100px ;*/
}
/*
.search_box{
	padding-right: 10px;
	padding-left: 5px;
	padding-top: 4.5px;
	padding-bottom: 3.5px;

	background: #299029;

	float: left;
	width: 20%;
	min-width: 200px;

	margin-left: -0.5px;

}
.search_box input{
	width: 80%;
	float: left;
	height: 30px;
	padding-left: 8px;
	
		background: #299029;
	color: white;
	margin-right: 5px;
	border: none;
	border: 1px solid white;
}
.search_box a{
	width: 20%;
}


.search_box img:hover{
	height: 34px !important;
	margin-bottom: -2px;
	margin-top: -2px;
}*/

.nav-pos ul.mod{
	float: left;
	width: 100%;
}



.search_box{
	/*background: red;*/
	margin: auto;
	width: 50%;
	margin-bottom: 15px;
	min-width: 240px;
	border-radius: 3px;
	padding: 2px;
}
.total_search{
	margin-bottom: 20px;
}
#l_f_width{
	width: auto;
}
.location_filter{
	/*float: left;*/
	
	
	margin-right: 5px;
	
}

.location_filter select{
	padding: 8px;
	border: none;
	border: 1px solid gray;
	border-radius: 3px;
}

.search_box input.search_input{
	width: 70%;
	height: 37px;
	border: none;
	padding-left: 5px;
	font-size: 18px;
	border-radius: 3px;
	float: left; 
	/*background: #e6e6e6;*/
	background: white;
	border: 1px solid #404040;
}

.search_box input.search_input:focus{
	border: 1px solid green;		
}

.search_box input.search_but{
	width: 29%;
	height: 37px;
	border: none;
	font-size: 16px;
	/*font-size: 130%;*/
	border-radius: 3px;
	margin-left: 0.5%;
	background: #686868;
	color: white;
}


.search_box input.search_but:hover{
	background: #4d4d4d;
	border: 2px solid green;
}



#search_show{
	margin: 0 auto; 
	max-height: 150px; 
	/*border: 1px solid #f4f4f4; */
	overflow: hidden;
	position: absolute;
	font-size: 13px;
	margin-top: 0px;
	box-shadow: 2px 2px 5px gray;
	z-index: 1000;
}
#text{
}
#searchtitle{
	padding: 5px; 
	background: white;
	opacity: 1;
	text-align: left;
	padding-left: 10px;
	color: black;
}
#searchtitle a{
	color: black;
}
#searchtitle:hover{
	background: gray;
}
#searchtitle a:hover{
	color: white;
}

.search a{
	cursor: pointer;
}




.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	position: inherit;
}
.navbar-toggle{
	position: inherit;
}

.search_result_box{
	padding: 10px;
	background: #e6e6e6;
	margin-bottom: 10px;
	float: left;
	width: 99%;
}
.search_result_box .image_side{
	float: left;
	padding-right: 10px;
}

.bus_pro_name{
	font-size: 25px;
	color: #1a0dab;
}

.bus_pro_cata_sub{
	color: gray;
}
.bus_pro_des{
	color: #555;
}
.search_item a{
	font-size: 18px;
	margin-right: 10px;
}


.pro-op_bar a{
	color: white;
}

.pro-op_bar .nav-tabs > li > a{
	margin-right: 0px;
	border-radius: 0px 0px 0 0;
}

.pro-op_bar .nav-tabs > li > a:hover{
	color: green;
}

.personal_data{
	float: left;
	margin-top: 20px;
	width: 100%;

}

.personal_data span.name{
	font-size: 25px;
	background: gray;
	padding: 0px;
	width: 100%;
	float: left;
	color: white;
}

.personal_data span.user_type{
	width: 100%;
	float: left;
	font-size: 18px;
}
.personal_data span.user_contact{
	width: 100%;
	float: left;
	font-size: 16px;
}

.item_type{
	background: gray;
}
.item_type span{
	font-weight: bold;
	color: white;
}

.filter_list_but{
	padding: 5px !important;
	color: white;
	border: 2px solid green; 
	border-radius: 0px !important;
}
 a.filter_list_but{
	outline: none;
}

.food_filter_list_but{
	
	/*border-radius: 0px !important;*/
}
.food_item_table ul{
	padding: 5px;
}
 a.food_filter_list_but{
	outline: none;
	padding: 5px !important;
	color: white;
	/*border: 2px solid green; */
	border:none !important; 
	border-radius: 5px !important;
	background: #4d4d4d;
	margin-bottom: 4px; 
}
a.food_filter_list_but:hover{
	background: black !important;
}

.item-num{
	padding: 10px !important;
}
td.item-price{
	padding: 10px !important;	
}

.item-num span{
	background: green;
	color: white;
	padding: 5px 9px 5px 9px;

	border-radius: 500px;
	font-weight: bold;
}

td.table_img{
	width: 1%;
}

td.item-name{
	padding: 10px !important;
	width: 20% ;
	
}

td.item-rate{
	padding: 10px !important;
}





.attraction_box .item_image iframe{
	width: 500px !important;
	height: 500px !important;
}


.sticky .nav-pos{
	width: 96%;
}
/*
.sticky .search_box{
	width: 17.4%;
	margin-left: -1px;
}*/



.total-nav li{
	list-style-type: none;
}


.food_sub_cata_list, .life_style_sub_cata_list, .education_sub_cata_list, .health_sub_cata_list, .electronics_sub_cata_list, .residence_sub_cata_list, .tourism_sub_cata_list{
	display: none;
	background: #404040;
	width: 100%;
	z-index: 1000;
	position: absolute;
	opacity: 0.9;
}



/*li.food_cata{
	position: relative !important;
	display: block;
}*/


/*.cata:hover .food_sub_cata_list, .cata:hover .life_style_sub_cata_list, .cata:hover .education_sub_cata_list, .cata:hover .health_sub_cata_list, .cata:hover .electronics_sub_cata_list, .cata:hover .residence_sub_cata_list, .cata:hover .tourism_sub_cata_list{

	display: block;
	position: absolute;
	z-index:10;
}*/
.cata a{
	text-decoration: none;
	color: white;
}
#sub_cata_style1 a, #sub_cata_style2 a, #sub_cata_style3 a, #sub_cata_style4 a, #sub_cata_style5 a, #sub_cata_style6 a, #sub_cata_style7 a{
	/*background: #1a0000;
	background: white;*/

	background: transparent;
	width: auto;
	text-align: center;
	list-style-type: none;
	top: 0;
	padding: 12px;
	display: block;
	/*color: #b3b3b3;*/
	color: white;
	font-weight: normal;

}
/*#sub_cata_style1 a, #sub_cata_style2 a, #sub_cata_style3 a, #sub_cata_style4 a, #sub_cata_style5 a, #sub_cata_style6 a, #sub_cata_style7 a{
	padding: 1px;
}*/
 a.sub_cata_a_tag:hover{
	background: #262626 !important;
	color: white !important;
	/*color: #b3b3b3;*/
	width: 100%;
	/*font-size: 16px;*/
	

	font-weight: normal;
	padding: 15px 15px !important;

	opacity: 1 !important;
	/*transition: 2s all;
	-webkit-transition: 2s all;
	-o-transition: 2s all;
	-moz-transition: 2s all;
	-ms-transition: 2s all;*/
}

a.a_large_sub_cata{
	line-height: 1 !important;
}

.for_underline:hover{
 	border-bottom: 2px solid red !important;
 }
.for_underline:last-child{
	height: 40px;
	/*background: red;*/
}
li.cata:hover a.cata_a_tag{
	background: #404040 !important;
}


#branch_map span.address_span{
	display: block;
	/*background: gray;*/
	float: left;
	padding:0px 10px 0px 10px;
	/*color: white;*/
	/*border-radius-top-left: 4px 4px;*/
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;

	/*-moz-box-shadow:   inset 0 0 10px gray;
   -webkit-box-shadow: inset 0 0 10px gray;
   box-shadow:         inset 0 0 10px gray;*/

   /*box-shadow: inset 0px 0px 10px 6px gray;*/
   border: 2px  solid gray;
   border-bottom: none;
}

.share_option{
	/*width: 99%;*/
	/*width: 0px;*/
	height: 42px;
	/*overflow:hidden !important;*/
	border-radius: 3px;
	border:1px solid green;
	/*padding: 2px;*/
	margin-bottom: 10px;
	/*float: left;*/
	-webkit-transition: width 50s; /* Safari */
    transition: width 3s;
}

#expand_test{
	/*display: none;*/
}

#inside_expand{
	width: 500px;
	float: left;
}
#inside_expand .for_padding{
	padding: 2px;
}
.bookmark_bt{
	vertical-align: middle;
}

.bookmark_bt a{
	vertical-align: middle;
	color: white;
	padding: 6px;
	background: gray;
	margin: 4px;
	float: left;
	border-radius: 3px;
	outline: none;
}

.share_site{
	box-sizing: border-box;
	
}
.facebook_share_bt a.f_share{
	display: inline-block;
	vertical-align: middle;
	height: 35px;
	width: 35px;
	top: 0;
	float: left;
	background-image: url(../image/default_image/facebook_icon1.png);
	margin-left: 20px;
}
.facebook_share_bt a.f_share:hover{
	background-image: url(../image/default_image/facebook_icon2.png);
}


.twitter_share_bt a.t_share{
	display: inline-block;
	vertical-align: middle;
	height: 35px;
	width: 35px;
	top: 0;
	float: left;
	background-image: url(../image/default_image/twitter_icon1.png);
	margin-left: 20px;
}
.twitter_share_bt a.t_share:hover{
	background-image: url(../image/default_image/twitter_icon2.png);
}

/*
.navbar-toggle{
	margin-right: 5px;
}*/
.elec_pro_list .col-sm-1{
	width: 12%;
}

.elec_pro_list .col-sm-11{
	width: 88%;
}


.elec_pro_filter{
	background: gray;
	height: 100%;
	height: 500px;
	padding: 10px;
}


.elec_pro_filter select{
	width: 100%;
	padding: 5px;	
}

.elec_filter_list .product_type{
	margin-top: 20px;
	width: 100%;
}

.elec_filter_list .product_type a{
	width: 100%;
	display: block;
	text-align: center;
	padding: 5px;
	background: #484848;
	margin-bottom: 5px;
	/*-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;*/
   box-shadow:         inset 0 0 5px #000000;
   color: white;
}


.single_item_details{
	margin-top: 5%;
	/*width: 60%;*/
}


.popup_head img.img_bt{
	width: 50px !important;
}

.navbar-header{
	background: gray;
}

.table-responsive{
	border: none;
}

.table > tbody > tr:last-child{
	border-bottom: 1px solid #9aa6b1;
}

.table > tbody > tr > td{
	border-top: 1px solid #9aa6b1;

}

.inside_top_right_panel{
	height: auto;
	float: left;
	width: 100%;
	padding-left: 10px;
}

.inside_top_head{
	/*background: #1a1a1a;*/
	/*background: red;*/
	/*background-image: url(../image/default_image/royalred.jpg);*/
	background: #400000;
	color: white;
	padding: 5px;
	width: 100%;
	text-align:center;
}

.insider_box_panel{
	background: white;
	float: left;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}
.insider_box{
	/*background: white;*/
	padding: 5px;
	padding-left: 0px;
	float: left;
	width: 100%;
	border-bottom: 1px solid gray;
}
.insider_img{
	float: left;
	padding-right: 10px;

}
.insider_text{
	height: 100%;
}


.insider_img img{
	width: 60px;
}









.nearby_panel{
	float: left;
	margin-top: 10px !important;
}

.nearby_panel .col-sm-6{
	padding: 0px;
}

.nearby_box{
	background: white;
	float: left;
	width: 100%;
	margin-bottom: 5px;
}

.nearby_img{
	float: left;
	max-width: 80px;
	padding: 7px;
}


.nearby_data{
	padding: 5px;
}

.nearby_left{
	padding-right: 7px !important;
}

.nearby_right{
	padding-left: 7px !important;
}

.nearby_panel span.nearby_title{
	width: 100%;
	float: left;
	color: green;
	font-size: 25px;
	text-align: center;
	background: white;
	margin-bottom: 5px;
	border-bottom: 3px solid green;
} 

span.info_span::first-letter{
	color: red !important;
	font-size: 200px;
}


.page_change{
	float: left;
	width: 100%;
	background: gray;
}

.next_btn{
	float: right;
}

#a_disabled{
	pointer-events: none;
    cursor: default;

}

.page_change a{
	float: left;
	padding: 10px;
	background: black;
	font-size: 25px;
	color: white;
	font-weight: bolder;
	margin: 10px;
}	

.only_com{
	margin-top: 10px !important;
	background: white;
	float: left;
	width: 100%;
	/*padding: 10px;*/
}
.only_com .col-sm-2{
	padding: 0px !important;
	min-width: 195px;
}

.only_com .com_user_name{
	/*margin-top: 8px;*/
}
.only_com .comment_user_review{
	border-left: 2px solid #cccccc;
	padding-left: 10px;
	/*margin-top: 8px;*/
}
.only_com .opinion{

	border-left: 2px solid #cccccc;
	padding-left: 10px;
	height: 100%;
}
.only_com .com_user_data, .only_com .comment_user_review, .only_com .opinion, .only_com .opinion{
	float: left;
	width: 100%;
	margin: 10px;
}

.food_sub_cata_list{
	/*background: red;*/
	
	/*border-bottom: solid 10px green;*/
}

.content_review{
	float: left;
	width: 100%;
}
.content_review .comment_review_quality{
	float: left;
	width: 100%;
}
.review_avg{
	/*border-bottom: 5px solid red;*/
	margin-top: 5px;
	margin-bottom: 10px;
}
.review_avg span{
	/*border-bottom: 4px solid gray;*/
	font-weight: bolder;
}

.content_review .comment_review_title{
	width: 50%;
	float: left;
	text-align: right;
	padding-right: 10px;
}

.content_review .comment_review_rate{
	margin-top: 4px;
}

.slide{
	margin-bottom: 10px;
}
.second .info-area{
	width: 100%;
}







/*New Home Page*/


.panel_title{
	float: left;
	width: 100%;
	background: rgba(0,0,0, .5);
	color:white;
	padding: 5px;
}

.first_panel{
	width: 50%;
	float: left;
	position: relative;
	overflow:hidden;
}

.first_panel_inside{
	float: left;
	background: gray;
	position: absolute;
	width: 1500%;
	display: block;
	position: relative;
	transition: transform 1s ease-in-out;
	transform: translate3d(0px, 0px, 0px);
	float: left;
}
.add_box{
	float: left;
	width: 100%;
}


.home_box, .home_box2{
	float: left;
	/*width: 25%;*/
	position: relative;
	/*max-width: 170px;*/
}

.home_box_inside{
	margin-right: 5px;
}

.next_pre_bt{
	position: absolute;
	/*height: 100%;*/
	display: inline-block;
	z-index: 10;
	/*opacity: 0.5;*/
}

.next_pre_panel{
	/*float: left;*/
	width: 100px;
	height: 100%;
	background: green;
}
.left_but{
	top: 40%;
	left: 0;
	margin-left: 10px;
	vertical-align: middle;
}
.right_but{
	top: 40%;
	right: 0;
	margin-right: 10px;
}

.second_panel{
	width:12%;
	float: left;
	margin-left: 10px;
}