

 /*and (min-width: 600px)*/
@media screen and (max-width: 800px){
	.nav_total_page{
		width: 100%;
	}
	.nav_page{
		min-height: 400px;
	}
	.nav_list_cover h3{
		font-size: 18px;
	}
	.sub_nav_list{

	}
	.per_sub_nav{
		width: 100%;
	}
	.per_sub_nav img{
		display: none;
	}
	.per_sub_nav a h4{
		font-size: 12px !important;
		padding: 6px;
	}



	.header{
		width: 90%;
	}
	.logo-size{
		max-height: 30px;
	}

	.full_header{
		padding: 10px;
	}

	.connectivity img{
		max-height: 30px;
	}

	.profile_but a:first-child{
		pointer-events: none;
	}
	.pro_option a{
		pointer-events:auto !important;
	}
	.join {
		margin-top: 1px;
	}
	.join a{
		padding: 3px;
	}

	.search_box{
		width: 80%;
		margin-top: 5px;
	}

	.search_box .col-md-3{
		width: 27%;
		float: left;
	}
	.search_box .col-md-9{
		width: 70%;
		float: left;
	}

	.footer_option{
		width: 450px;
	}

	.dx_slider_row{
		width: 90%;
	}
	h2.dx_slider_title{
		width: 90%;
	}
	.dx_box_info a h3{
		font-size: 18px;
	}
	.dx_slider_panel .carousel-control{
		width: 7%;
	}

	.only_com .only_com_user_info{
		width: 150px;
	}
	.com_user_data img{
		height: 120px;
	}

	.review_comment{
		width: 70% !important;
	}
	#myCarousel-5{
		height: 350px;
	}
	.comment_user_review{

	}
	.only_com .comment_item{
	}
	.dx_people_co_panel .active{
		height: auto;
	}
	.review_text{
		width: 100% !important; 
	}
	.dx_slider_panel{
		margin: 20px;
	}
	.dx_slider_panel .col-sm-3{
		margin: 0px 0;
	}
	.dx_box{
		padding-top: 5px;
	}
	.menu_btn p{
		display: none;
	}

	.main_content_center .col-sm-6{
		width: 100%;
	}
	#food_list_height{
		max-height: 400px;
	}

	.col-sm-12.profile_right{
		float: left;
		width: 100%;
	}

	.offer_panel{
		width: 70%;
		margin: 0 auto;
	}



	.reward_panel{
		width: 100%;
	}
	.reward_list_data{
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.reward_list_data h3{
		font-size: 18px;
	}
	.reward_list_data span.package_list_points{
		font-size: 15px;
	}
	.reward_list_data span.package_list_des{
		font-size: 14px;
	}
	.reward_list_data span.action_status{	
		font-size: 12px;
	}

	.profile_panel{
		width: 100%;
		margin: 0 auto;
	}

	.random_content_title{
		display: none;
	}
}






@media screen and (max-width: 550px){
	.selectandimg{
		width: 100%;
	}
	.review_left_option select{
		width: 80%;
	}
	.comment_3 .comment_review_input .image_up_btn{
		width: 20%;
	}
	.comment_3 .comment_panel .image_up_btn{
		padding-top: 0px;
	}
	.first{
		padding-right: 0px;
	}
	.menu_btn span{
		margin-top: 100px;
	}

	.menu_btn p{
		display: none;
	}
	.full_header{
		padding-left: 5px; 
		padding-right: 5px;
		padding-top: 5px;
	}
	.header {
    	width: 100%;
	}
	.join{
		float: left;
	}
	.join a span{
		display: none;
	}
	.join a:after{
		content: "join";
	}

	.connectivity{
		width: 170px;
	}

	.search_box{
		width: 100%;
		float: left;
	}
	.search_box .col-md-12{
		padding-left: 0px;
		padding-right: 0px;
	}
	.search.col-md-9{
		padding-right: 0px !important;
	}
	.footer_cata_panel{
		display: none;
	}
	.footer_option{
		width: 100%;
	}
	.footer_option_a{
		width: 25%;
		float: left;
	}
	.footer_option a{
		width: auto;
	}



	.content_list{
		float: left;
		width: 100%;
		border-bottom: 1px solid rgb(230,230,230);
		padding: 5px 10px 5px 10px;
		background-color: rgb(255, 255, 255);
	}

	.content_list_image{
		float: left;
	}

	.content_list_image img{
		height: 95px;
		border: 1px solid rgb(230,230,230);
		border-radius: 50px;
	}

	.content_list_info{
		margin-left: 100px;
		padding-top: 10px;
		padding-left: 10px;
	}
	.content_list_name h2{
		font-family: 'El Messiri', sans-serif;
		/*color: rgb(100,100,100);*/
		color: #ff6600;
		font-size: 20px;
	}

	.content_list_type span{
		font-family: 'El Messiri', sans-serif;
		color: rgb(100,100,100);
		font-size: 14px;
	}

	.content_list_location span{
		font-family: 'El Messiri', sans-serif;
		color: gray;
		font-size: 12px;
	}

	.load_more_panel{
		width: 100%;
	}

	.main_content_center{
		width: 100%;
	}

	.review_left_option .image_up_btn{
		margin-top: -2px;
	}
	.image_up_btn{
		margin-top: 5px;
	}
	.comment_op_tab a{
		width: 50%;
	}
	.profile_right li{
		width: 100%;
	}

	.profile_rating{
		padding: none;
	}

	.only_com .comment_user_review{
		float: left;
		width: 100%;
	}

	.only_com .comment_user_review{
		border: none;
	}

	.profile_rating .col-sm-6{
		float: left;
		padding-left: 0px;
		padding-right: 0px;
	}
	.pro_user_review_txt{
		width: 100%;
	}

	.profile_rating .only_com .comment_user_review{
		padding-left: 0px;
	}
	.user_point_table{
		padding: 0px;
	}
	.point_table_list_title span{
		font-size: 13px;
		padding: 2px !important;
	}
	.user_point_table_list{
		padding-top: 0px;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}
	.user_point_table_list .package_list_no{
		width: 20%;
		float: left;
		border-bottom: 1px dotted rgb(210,210,210);
		background: rgb(200,200,200);
	}
	.user_point_table_list span{
		border: none;
	}

	.user_point_table_list .package_list_name{
		width: 80%;
		float: left;
		border-bottom: 1px dotted rgb(210,210,210);
	}

	.user_point_table_list .package_list_des{
		width:100%;
		float: left;
		border-bottom: 1px dotted rgb(210,210,210);
	}

	.user_point_table_list .package_list_points{
		width: 20%;
		float: left;
		border-bottom: 1px dotted rgb(210,210,210);
	}

	.user_point_table_list .package_list_send_massage{
		width: 80%;
		float: left;
		border-bottom: 1px dotted rgb(210,210,210);
	}

	.user_point_table_list .package_list_btn{
		width: 100%;
		float: left;
		border-bottom: 1px dotted rgb(210,210,210);
		margin-top: 5px;
	}

	.user_point_table_list button{
		min-height: 45px;
	}

	.user_point_table_list span:nth-child(1), .user_point_table_list span:nth-child(2), .user_point_table_list span:nth-child(4){
		padding-top: 0px;
	}

	.user_point_table_list span:nth-child(1), .user_point_table_list span:nth-child(2), .user_point_table_list span:nth-child(3), .user_point_table_list span:nth-child(4), .user_point_table_list span:nth-child(5), .user_point_table_list span:nth-child(6){
		min-height: 0px;
		padding: 10px;
	}

	.offer_panel{
		width: 90%;
		margin: 0 auto;
	}

	.col-md-12{
		padding-left: 0px;
		padding-right: 0px;
	}
	.explore{
		padding-left: 0px;
		padding-right: 0px;
	}
	.explore_inside{
		width: 100%;
	}

	.explore a{
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 0px;
		margin-right: 0px;
		width: 110px;
		font-size: 14px;
	}
	.explore img{
		max-height: 35px;
	}
	.only_com .only_com_user_info{
		width: 100%;
	}
	.review_comment{
		width: 100% !important;
	}
	.rate_opinion{
		padding-left: 0px;
	}

	.ex_content {
	    width: 360px;
	    max-height: 100px;
	    margin: 0 auto;
	    float: none;
	}

	.reward_list{
		margin: 20px;
		padding: 20px !important;
		float: left;
		background: rgb(240,240,240);
		box-shadow: 0px 30px 60px grey;
	}	
	.reward_list_img{
		padding: 0px;
		border: none;
	}
	.reward_list_data{
		padding: 0px;
		padding-top: 20px;
	}

	.profile_left .col-sm-4{
		width: 49%;
		float: left;
		padding-right: 0px;
		padding-top: 10px;
	}
	.profile_left .col-sm-4:nth-child(2){
		width: 51%;
		float: left;
		padding-top: 0px;
	}
	.profile_left .col-sm-3{
		margin: 0 auto;
	    width: 50%;
	    float: none;
	}

}