
body{
	/*background: #ebebeb ;*/	
	/*background: #80B2CC;*/
	/*background-color: #E9EAED;*/
	/*background-color: #D2D3D5;*/
	background: #CFCFCF;
	/*background-image: url("image/back3.jpg");*/
	font-family: 'Open Sans', sans-serif;
}
body a{
	/*transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;*/
	transition: 0.3s all;
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
}

 ul{
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6,label,p{
	margin:0;	
}

.container{
	width: 88%;
}

.header{
	margin-top: 20px;
	width: 100%;
}
.moto{
	width: 70%;
	float: left;

}

.logo-size{
	max-height: 100px;
	max-width: 200px;
	float: left;
}
.moto h3{
	float: left;
	padding-top: 4%;
}
.join{	
	float: left;
	padding-bottom:8.2%; 
	/*width: 30%;*/
	margin-right: 20px;
}


.sub-cata-pos{
	margin-top: -20px;
}




.con-pos{
	padding-left: 00px;
	padding-right: 00px;
	width: 100%;
	
}

.main-top{

}
/*MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  */
.mod1{
	border: none;	
	
	background: transparent;
	border-radius: 0px;
	width: 100%;	
	min-height: 40px;
	text-align: center;
	/*border-color: transparent;*/

}
.nav > li > a{
/*	padding-left : 10%;
	padding-right: 10%;*/		
}
.mod{
	/*background-color: red;*/
	margin-left: 0%;

	width: 101%;
	margin-right: 0%;
	/*border-color: transparent;*/
	border-right: none;
	/*overflow: hidden;*/
	text-align: center;

}

.mod .cata
{
	/*line-height:-10px !important;*/
	/*margin-left: 1px;*/
	background-color: green;
	opacity: 0.8;
	/*width: 5%;*/
	/*font-size: 100%;*/
	padding: 0.0%;
	/*display: inline-block;*/
	display: inline;
	margin-top: 0px;
	text-align: center;
	/*width: 9.9%;  with service and transport*/
	/*width: 10.5%;*/
	/*width: 11.6%;*/
	width: 12.5%;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
	margin-left: 0px;
	margin-right: 0px;
}
..navbar-nav{
	margin: 0px 0px !important;
}
.navbar-inverse .navbar-nav > li > a{
	background: green;
}

.navbar-inverse .navbar-nav > li.sub_cata_color > a{
	background: transparent;
}
.mod .cata a{
	/*padding-left: 20.4%;*/
	/*padding-right: 20.4%;*/
	line-height: 8px;
	outline: 0;
}


.nav-pos{
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;

	width: 80%;
	min-width: 220px;
	margin: 0 auto;
	float: left !important; 
}
.total-nav .navbar-inverse .navbar-nav  a:hover{
	background-color: white !important	;

	color: green !important; 
}
.nav > li > a{
	padding-left: 0px;
	padding-right: 0px;
}
.total-nav .navbar-inverse .navbar-nav > .active > a, .total-nav .navbar-inverse .navbar-nav > .active > a:focus, .total-nav .navbar-inverse .navbar-nav > .active > a{
	
	/*background-color: #333333;*/
	background-color: transparent;;
	/*opacity: 0.6;*/
	/*background: rgba(0, 0, 0, 0.7);*/
	border-left: 3px solid white;
	border-right: 3px solid white;
	/*background-color: white;*/
	/*color: green;*/
	/*padding-bottom: 20px;*/
}
/*
.total-nav li:hover{
	background-color: rgba(0, 0, 0, 0.7);
}*/

.navbar{
	margin-bottom: 0px;
	position: inherit;
}


.navbar-inverse .navbar-nav > li > a{
	color: white;
}



.total-nav{
	width: 100%;
	margin-left: ;
}

.total-nav .container{
	width: 100%;
}



.sticky {
	position: fixed;
	width: 86.1%;
	
	top: 0;
	z-index: 100;
	border-top: 0;
}


/*MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  MAIN MENU BAR  */



/*SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    */

.sub-menu .navbar-nav{
	width: 100%;
}

.sub-cata{
	/*margin-left: 0px;*/
}

.sub-cata .container-fluid{
	padding-left: 00px;
	padding-right: 00px;
	text-align: center;
}
.navbar-inverse{
	background-color: transparent;
}


.sub-cata .navbar-inverse{
	border: 10px;

	/*background-color:hsla(120,100%,25%,0.3);*/
	background-color: rgba(0, 0, 0, 0.7);
	
	/*opacity: 0.6;*/
}

.sub-cata .navbar{
	border-radius: 00px;
	min-height: 0px;
	width: 100%;
}

 



.sub-cata .navbar-nav > li{
	
}
.sub-cata .navbar-nav > li > a{
	padding: 10px;
	outline: 0;
	color: white;
}

/*SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    SUB-MENU BAR    */

/*FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  */


.filter{
	height: 30px;
	width: 99.80%;
	background-color: #708090;
	margin-left: 2px;
	margin-top: 5px;

}

/*.filter div{
	padding:0px;
	color: white;
	padding-left: 8px;
	background-color: red;
}*/
.fil{
	padding-left: 8px;
}
.filter span{
	font-weight: bolder;
	font-size: 150%;
	color: white;
	
	float: left;
}

.filter .drop-down{
	padding-left: 50px;
	padding-top: 2px;
	height: 20px;
	float: left;
}

.filter .drop-down select{
	float: left;
	height: 26px;
	width: 110px;
	color: #708090;
	font-weight: bolder;
}/*
.sub-cata .sub-menu li:hover{
	background-color: black;
	opacity: 0.1;
}*/

.sub-cata .navbar-inverse .navbar-nav > li > a:focus, .sub-cata .navbar-inverse .navbar-nav > li > a:hover{
	background: white !important;
}
.sub-cata .drop-down select{
	border-radius: 3px;
	margin-left: 10px;
	padding: 4px;
	margin-top: 4px;
	font-weight: bold;
}

.sub-cata input{
	border-radius: 3px;
	margin-left: 10px;
	padding: 4px;
	margin-top: 4px;

}

/*FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  FILTER  */




/*MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    */

.content{
	margin-left: 2px;
	margin-top: 15px;
}

.area-demo{
}


.area-demo .area{
	/*background-color: #708090;*/
}

.col-sm-9{
	padding-left: 0px;
	padding-right: 0px;
}


.demo-box{
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;

	padding: 10px;
	background-color: #708090;
	/*background-color: #8D99A6;*/
	margin-right: 4px;
	margin-bottom: 4px;	
	border-radius: 2px;
}

.demo-box:hover{
	background-color: #384048;
	padding: 0px;
}
.area a{
	text-decoration: none;
}

.demo-box .image-space{
	height: 0px;
}
.demo-box img{
	padding: 5%;
	min-width: 100% !important;

}

.table{
	margin-bottom: 0px;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 110%;
	/*background-color: #CCCCCC;*/
}
/*
.tabole td{
	text-align: center;
	color: red;
}*/

.col-sm-3{	
	padding-left: 0px;
	padding-right: 0px;
}

.area-add{
	background-color: green;
}

/*MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    MAIN CONTENT    */


/*COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     */

.coming{
	background-color: orange;
	padding-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}


/*COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     COMING     */
.review{
	/*float: left;*/
}
.review span{
	color: black;
	font-weight: bold;

}
.rev-pos{
	padding-top: 2px;
}


.review-img{
	background-image: url("image/star.png");
	width: 153px;
	height: 24px;
	background-position: 0px 144px;
	display: inline-block;

}
.review-img2{
	background-image: url("image/star2.png");
	height: 24px;
	display: inline-block;

}
.review-img .per{
	
}

.graph{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	background-color: white;	
	/*float: left;*/
}

.graph .gp{
	height: 100px;
	width: 398px;
	float: left;
}

.graph .level{
	height: 100px;
	width: auto;

}
img.level{
	
	margin-top: 30px;

}
.info-field{
	margin-top: 8px;
	margin-right: 0px;
	/*border: 2px solid green;*/
	margin: 5px;
	margin-left: 0px;
	
}

.info-field .review{
	float: left;
	
}
.narrow_pattern{
	margin-right: 2px;
}
.narrow_pattern .shop_title {
	background-color: green;
	text-align: center;
	/*border: 3px solid green;*/
}
.narrow_pattern .shop_title span{
	font-size: 22px;
	font-weight: bold;
	color: white;
}
.info-area{
	margin-bottom: 5px;
	/*background-color: #CFCFCF;*/
	/*background-color: white;*/

	/*border: 2px solid #A3A4A6;*/
	/*border-radius: 3px;*/
	float: left;
	width: 99.5%;
	/*height: auto;*/
	/*background-color: rgba(0, 0, 0, 0.75);*/
	background: white;
	box-shadow:0.5px 0.5px 2px grey;
}
.info-area-title{
	background-color: #A3A4A6;
	padding-left: 5px;
	float: left;
	width: 120px;
	/*padding-right: 30px;*/
	margin-right: 10px;
	height: auto;
	/*text-align: justify;*/
	vertical-align: middle;
}
.info-area span{
	color: black;
}
.discription span{

	
}
.info-ans{
	background-color: white;
	margin-left: 0px;
	height: 100%;
	/*padding-left: 50px;*/
	text-align: justify;
/*	margin-top: -30px;
	padding-top: -50px;
	margin-right: 10px;*/
	
}
.info-ans span{
	font-size: 15px !important;
}
.brand span{
}

.brand-dis {

}








.review img{
}

.content .field{
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;

}
.field{
	margin-top: 10px !important;
}

.first{
	/*background-color: #CFCFCF;*/
	background-color: transparent;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 0px;
	/*border-right: 10px solid transparent;*/
}

.second{
	background-color: transparent;
	padding-right: 0px;
	padding-left: 0px;
	height: auto !important;
	margin-bottom: 10px;

	/*height: 800px !important;*/
}

.field .col-sm-12, .field .col-sm-6{
	height: auto !important;
}

.col-sm-10{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.third{
	/*background-color: #CFCFCF;*/
	background-color: #BABABA;
	padding-right: 0px;
	padding-left: 0px;
	/*height: 3000px;*/
}

/*slide show*/
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
 .carousel-inner > a
 {
 	

 }
 .a-pos{
 	margin-left: -213px;
 	padding-top: -100px;
 }
 .glyphicon{
 	margin-left: 290px;
 }
 .carousel-control.left,  .carousel-control.right{
 	visibility: visible;	
 }
/*slides show*/
.col-sm-5{
	padding-left: 0px;
	padding-right: 0px;
}

.first h4{
	margin-top: 10px;
	
}

.first span{
	font-size: 17px;
	line-height: 30px;
	font-family: sans-serif;
}

.review span{
	float: left;

}
.menu{
	margin-right: 0px;
	margin-top: 0px;
	height: auto;
	margin-bottom: 10px;
	
}
.menu h4{
	text-align: center;
	color: white;
	padding: 5px;
	background-color: #520052;
}
.food_item_list{

}
.food_item_list .table{
	color: black;
		min-height: 400px;
	font-weight: normal;
}

.food_item_list .table th{
	text-align: center; 
}
.food_item_list  .table  .rev{
	margin-right: 0px;
	margin-left: 0px;
}

.food_item_list  .rev-pos{
	padding-top: 25px;
	float: left;
}

/*.food_item_list .review-img2{
	position: -50px;
}*/
.menu .food_list_table_hader{
	/*position: fixed;*/
	/*width: 100%;*/
	margin-bottom: 20px;
	background-color: rgb(120, 120, 120);
	/*color: black;*/
}
 .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	padding: 3px;
}

.food_item_list .table > thead > tr > th, .food .table > tbody > tr > th, .food .table > tfoot > tr > th, .food .table > thead > tr > td, .food .table > tbody > tr > td, .food.table > tfoot > tr > td{
	padding: 0px;
	vertical-align: middle;
}
.food_item_list td{
	/*padding-left: 0px !important;
	padding-right: 0px !important;*/
}
.food_item_list td.table_img{
	/*background: red;*/
	text-align:center;
	width: 1%;
	/*margin-left: 50px;*/
	/*padding-left: 50px;*/
}
.food_item_list .food_list_table_hader th{
	padding-right: 50px;
}


.food_item_list img{
	height: 80px;
}

.food_item_list .item-name {
	padding-left: 0px;
	width: 20%;
	text-align: center;
	vertical-align: middle;

}

.food_item_list td{
	white-space:normal !important;
}

.food_item_list tr.item_filter{
	margin-bottom: 10px;
	border-bottom: 5px solid #CFCFCF;
}
.item_filter{
	background: #FFFFFF;;
}

.food_item_list a.food_list_see{
	background-color: lightgreen;
	padding: 5px;
	text-decoration: none;
}
.food_item_list a:hover{
	/*background-color: green;*/
	color: white;
}

#food_list_height{
	
	overflow-y: scroll;
	overflow-x: auto;
}

.food element{
	display: none;
}

/*
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
*/


/*@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) 
{
  // For Google Chrome
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}*/



.button-list .nav > li > a{
	padding: 0px;
	margin: 0px;
	/*border-radius: 10px;*/
}

.button-list .navbar{
	min-height: 0px;
}

.button-list
{
	margin-left: 0px;
	padding-top: 0px;
}

.wide_pattern{
	/*background: #e6e6e6;*/

}


.wide_pattern .button-list{
	width: 50%;
    margin: 0 auto;
}

.button-list a{
	/*margin-right: 11px !important;*/
	padding: 6px !important;
	background-color: #CFCFCF;
	/*border: 1px solid black;*/

	color: black !important;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	margin-left: 100px;
}

.button-list a:hover{
	background-color: green!important;
	color: black;
}



.button-list .navbar-inverse{
	padding-left: 0px;
	margin-left: 0px;
	background-color: transparent;

}
.button-list .navbar-nav{
	margin: 0px 0px;
}
.button-list .navbar{
	width: 100%;
	border-radius: 0px;
	border: none;
}

.col-sm-12{
	padding-left: 0px;
	padding-right: 0px;
}

.map-tab ul{
	padding-left: 25%;
	text-decoration: none;
	border: 0px;
}

.map-tab a{

}

.comment{
	padding-left: 0px;
	padding-right: 0px;
	/*width: 49.5%;*/
	float: left;
	/*background-image: url("image/comment.png");*/
	background: #e6e6e6;

}

.question {
	
	padding-left: 0px;
	padding-right: 0px;
	/*width: 49.5%;*/
	margin-left: 0.5%;
	
}

.comment h3{
	text-align: center;
	/*background-color: #669999;*/
	background-color: #3D5200;
	margin-right: 2px;
	padding: 5px;
	font-weight: bold;
	color: white;
}

.comment .input-field{
	margin-top: 30px;
	/*margin-bottom: 50px;*/
	background: #FFFFFF;
}

.comment input.txt{
	height: 40px;
	width: 60%;
	/*border-top-left-radius: 50px;*/
	padding-left: 20px;

	/*-webkit-box-shadow: 5px 5px 5px 5px #666;
    -moz-box-shadow: 5px 5px 5px 5px #666;
    box-shadow: 5px 5px 20px 5px #666;
    display:inline-block;*/
}
.comment input.but{
	height: 40px;
	width: 19%;
	margin-left: 0px;
	height: 40px;
}

.comment select.but{
	height: 40px;
	width: 12%;
	margin-left: 0px;
	font-size: 18px;
	font-weight: bold;
	float: left;

}
.comment .comment_option_pos{

}

.comment .com .only_com{
	margin-top: 10px;
	/*background-color: #A9A9A9;*/
	/*background-color: #C1C1C1;*/
	/*background-color: #D8D8D8;*/
	background: white;
	min-height: 100px;
	height: auto;
	border-radius: 3px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 5px;
	float: left;
	border: 2px solid white; 
	opacity: 0.9;
	width: 100%;
	/*border: 1px solid green;*/
	box-shadow: 1px 1px 2px #888888;
	/*box-shadow:0 1px 2px rgba(0,0,0,.1)*/
}

.comment .com img{
	height: 100px;
	float: left;
	/*margin-right: 10px;*/
	vertical-align: bottom;
	padding: 5px;
}
.comment .com span.name{
	vertical-align: top;
	font-size: 20px;
	border-bottom: 1px solid white;
	float: left;

}
.comment .comment_period{
	height: 35px;
	/*background-color: red;*/
	vertical-align: middle;
}
.comment .comment_period span.comment_date{
	position: absolute;
	margin-left: 10px;
	margin-top: 6px;
}

.comment .opinion{
	margin-left: 0px;
	padding-left: 7px;
	margin-bottom: 10px;
	text-align:justify;
	padding-right: 10px;

}
.comment .opinion img{
	float: right;
	height: 200px;
	border: 5px solid white;
	max-width: 400px;
	max-height: 600px;
}
.opinion .opinion_img{
	float: right;
	padding-left: 10px;
	/*max-width: 39%;*/
}


.opinion .col-sm-5 img{
	
}
.comment .opinion span.op{
	text-align:justify;
	padding-right: 5px;

}

.comment .only_com{
	min-height: 100px;
	/*background: red;*/
}
.comment .reply_input{
	
}

.comment .reply_input form{
	/*height: 10px;*/
	padding: 5px;
}
.comment .reply_input input.reply_input_txt{
	height: 55px;
	padding-left: 10px;
	width: 80%;
}

.comment .reply_input input.reply_input_but{
	height: 55px;
	padding: 10px;
	width: 10%;
}


.comment .reply{
	/*background-color: #A9A9A9;*/
	background-color: #F0F0F0;
	/*min-height: 100px;*/
	height: auto;
	border-radius: 3px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 5px;
	float: left;
	border: 2px solid white; 
	opacity: 0.9;
	width: 89.8%;
	/*width: 900px;*/
	border: 1px solid green;
	/*margin-left: 100px;*/
	margin-left: 10%;
	margin-bottom: 5px;
}


.comment  .reply img{
	height: 65px;
	float: left;
	margin-right: 10px;
	vertical-align: bottom;
	padding: 5px;
}
.comment  .reply span.name{
	vertical-align: top;
	font-size: 20px;
	border-bottom: 1px solid white;
}
.comment .opinion .reply span.op{
	/*text-align:justify;*/

}

.com .only_com img.comment_type{
	float: right;
	position: relative;
}

.only_com .comment_user_review{
	/*margin-left: 111px;*/
	float: left;
	width: 200px;
	padding-right: 20px;
}
.only_com .comment_user_quality{
	/*width: 200px;*/
	background-color: red;
}

.col-sm-6{
	padding-right: 0px;
	padding-left: 0px;

}

.only_com_top{
	/*background-color: red;*/
}
.only_com_top .only_com_top_img{
	float: left;
}


.only_com .comment_review_title{
	/*float: left;*/
}
.comment #review .comment_review_input{
	float: left;
	/*width: 40%;*/
	min-width: 300px;
	/*background-color: red;*/
}
.comment #review .comment_review_input input.product_id{
	width: 40%;
	float: left ;
}
.comment #review .comment_review_input input.product_name{
	width: 59%;
	margin-left: 3.5px;
}
.comment #review .comment_review_input input.review_txt{
	width: 100%;
	height: 40px;
}

.comment #review .comment_user_review{
	float: left;
	height: 62px;
	/*background: blue;*/
	width: 20%;
	margin-left: 5px;
	font-weight: bold;

	margin-bottom: 1	0px;
}
.comment_user_review .comment_review_title{
	float: left;
	width: 70px;
	margin-top: 4px;

}
.comment_user_review img{
	/*width: 200px;*/
	position: absolute;
}


.comment_review_quality{
	margin-bottom: 5px;
	border-bottom: 1px solid #C8C8C8;
}




/*.question h3{
	text-align: center;
	background-color: #669999;
	margin-right: 2px;
	padding: 5px;
}
.question h3{
	text-align: center;
	background-color: #669999;
	margin-left: 2px;
	padding: 5px;
} 
.question .input-field{
	margin-top: 10px;
}

.question input.txt{
	height: 40px;
	width: 80%;
}*/
#question input.but{
	height: 40px;
	width: 19%;

	
}
/*.question .com{
	margin-top: 80px;
	background-color: #A9A9A9;
	min-height: 100px;
	height: 100%;
	border-radius: 3px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 5px;
	float: left;
	border: 2px solid white; 

}


.question .com img{
	height: 100px;
	float: left;
	margin-right: 10px;
	vertical-align: bottom;
	padding: 5px;
}
.question .com span.name{
	vertical-align: top;
	font-size: 20px;
}

.question .opinion{
	margin-left: 110px;
}
.question .opinion span.op{
	text-align:justify;

}
*/

.comment_op_tab a{
	transition: 0s all;
	-webkit-transition: 0s all;
	-o-transition: 0s all;
	-moz-transition: 0s all;
	-ms-transition: 0s all;
}
.comment_op_tab{
	/*background: gray;*/
	width: 100%;
	float: left;
	border-bottom: 2px solid transparent;
	margin-bottom: 10px;
	font-weight: bold;
	 background: #CFCFCF;
}

.comment_op_tab li{
	list-style-type: none;
	margin-bottom: -2px;
}

.comment_op_tab a{
	float: left;
	color: black;
	padding: 10px;
	outline: none;
	text-decoration: none;
}


.comment_op_tab li.active a{
	margin-bottom: -2px;
	padding-top: -2px;
	border: 2px solid transparent;
	border-bottom: 2px solid #FFFFFF;
	border-radius-top: 2px;
	background: #FFFFFF;
}


/*
.comment_op_tab{
	width: 100%;
	float: left;
	
	margin-bottom: 10px;
}
.comment_op_tab a{
	float: left;
	color: green;
	padding: 10px;
	outline: none;
	text-decoration: none;
}

.comment_op_tab a:focus{

	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid #E6E6E6;
	margin-bottom: -1px;
	padding-bottom: -1px;
}


*/







.health-option{
	/*float: right;*/
	background: #CFCFCF;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.health-name{
	float: left;
	margin-top: -4px;
	
}
.edu_teacher-list {
	padding-top: 5px;
	width: 100%;
	margin-top: 10px;
}

.edu_teacher-list iframe{
	 overflow-x: hidden; 
	 overflow-y: hidden;
	 border: none;
	width: 100%;
	height: auto; 

	/*Change able*/
}

.wide_pattern .edu_teacher-list {
	width: 100%;
	margin-top: 10px;
	padding-top: 0px;
}






.item_name_list{
	width: 30000px;
	width: auto;
	background: white !important;

}

.item_name_list .list{
	/*margin-top: 50px;*/
	padding: 10px;
}



.life_item_name_list{
	width: auto;
	background: white !important;

}

.life_item_name_list .list{
	/*margin-top: 50px;*/
	padding: 10px;
	width: 30000px;
}

/*.life_item_name_list .info-box{
	padding: 10px;
	width: 20%;
	height: auto;
	text-align: center;
	float: left;
	width: auto;
	border: 3px solid;
	border-color: green;
	margin-right: 10px;
}
*/

/*.life-list {
	width: 100%;
	margin-top: 10px;
	border: 6px solid black;
	margin-bottom: 10px;
}

.life-list iframe{

	 overflow-x: hidden; 
	 overflow-y: hidden;
	 border: none;
	 width: 100%;
	 height: 300px; 
}
*/



.edu_item_name_list{
	/*width: 30000px;*/
	width: auto;
	/*margin-top: 15px;*/
	overflow-y :scroll;

}
.edu_item_name_list li{
	display: block;
}

.edu_item_name_list .list{
	/*margin-top: 50px;*/
	margin-top: 10px;
	padding: 0px;
}





.doc-info-box{
	padding: 10px;
	width: 20%;
	height: 100%;
	text-align: center;
	/*float: left;*/
	width: auto;
	border: 3px solid;
	border-color: green;
	margin-bottom: 10px;
}

.edu-info-box{
	padding: 10px;
	width: 20%;
	height: 100%;
	text-align: center;
	/*float: left;*/
	width: auto;
	border: 3px solid;
	border-color: green;
	margin-bottom: 10px;
}

.list_button{
	position: fixed;
	margin-top: 3px;	
}



.list_button a{
	padding: 5px !important;
	color: white !important;
	font-weight: bold;	
	border: 1px solid black;
	border-radius: 3px;
	margin-right: 5px;
	background: black;
	opacity: 0.6;
}

.list_button .navbar
{
	min-height: 0px;
	border: none;
}








/*.life._list_button{	
	position: fixed;
	margin-top: 28px;
	width: 327px;
	float: left;
	float: inherit;
	
}*/







.life_item_name_list .title2{
	background: #003D00;
	/*background: #07C;*/
	text-align: center;
	color: white;
	padding: 10px;


}
.life_item_name_list .title2 span{
	font-size: 20px;
	font-weight: bolder;
	line-height: 20px;
}

/*
.life_list_button{	
	position: fixed;
	height: 283px;
	margin-left: 40px;
}
.life_list_button a{
	color: white !important;
	font-weight: bold;	
	
	background: black;
	opacity: 0.6;
	text-align: center;
}

.life_list_button .navbar
{
	background: rgba(0, 0, 0, 0.75);
	height: 283px;
}

.life_list_button .navbar-nav{
	margin: 0px;
}
.life_list_button li, .life_list_button a{
	height: 282px;
}
.life_list_button .navbar{
	border-radius: 0px;
}
*/

.edu_but_drop{
	position: fixed;
}







.edu_list_button{	
	/*position: fixed;*/
	background-color: red;
	width: 100%;
	position: absolute;
	
}
/*.edu_item_name_list ul.edu_button_option_list{
	display: none;
}

.edu_item_name_list ul li:hover .edu_item_name_list ul.edu_button_option_list
{
	display: block;
}

*/

.edu_list_button a{
	color: white !important;
	font-weight: bold;	
	
	background: black;
	opacity: 0.6;
	text-align: center;
}

.edu_list_button .navbar
{
	min-height: 0px;
	border: none;
	background: rgba(0, 0, 0, 0.75)
}

.edu_list_button .navbar-nav{
	margin: 0px;
}










.edu_item_name_list_X{
	text-decoration: none;

}



.edu_item_name_list_X .title_doc_tea{
	width: 100%;
	/*background: green;*/
	background: linear-gradient(to top,  black 10%, #339933 100%);
	text-align: center;
}

.edu_item_name_list_X .title_doc_tea span{
	font-weight: bold;
	font-size: 25px;
	color: white;
}

.edu_item_name_list_X .navbar-nav{
	float: none;
}

.edu_item_name_list_X .navbar-nav > li > a{
	padding-top: 7px;
	padding-bottom: 7px;
}

.edu_item_name_list_X ul.edu_button_option_list{
	display: none;
	/*display: block;*/
}

.edu_item_name_list_X ul li:hover ul.edu_button_option_list
{
	display: block;
}
.edu_item_name_list_X ul li{
	width: 100%;
	list-style-type: none;
}


















.mod a{
	font-weight: bolder;
}

.wide_pattern .button-list{
	
}
.wide_pattern .info_box{
	margin-top: 10px;
	border: 2px solid ;
	/*background: #A0A0A0;*/
	background: #484848;
	margin-bottom: 5px;
}

.wide_pattern .title{
	background: #484848  ;
	text-align: center;
	color: white;

}
.wide_pattern .title span{
	font-size: 30px;
	font-weight: bolder;

}

.wide_pattern .title_info{
	text-align: center;
	padding: 10px;
	
}
.wide_pattern .title_info span{
	font-size: 40px;
	font-weight: bolder;
	color: green;
	/*text-shadow: 3px 1px 0px white;*/

    /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
    color: white;
}




.info_box2{
	/*margin-top: 10px;*/
	border-radius: 2px;
	
	/*border: 2px solid #003D00;*/
	
	/*background: #D0D0D0;*/
	margin-bottom: 5px;
	/*border-bottom: 2px solid green;*/
	/*background: #C8C8C8;*/
	background: white;
	box-shadow: 0.5px 0.5px 1px grey;
}
.info_box2:hover{
	box-shadow: 2px 2px 2px grey;	
}

.wide_pattern .title2{
	/*background: #003D00;*/
	width: 30%;
	margin-top: 0px;
	/*background: #339933;*/
	text-align: left;
	color: white;
	/*background-image: url("image.png");*/
	background: green;
	text-align: right;
	background: linear-gradient(to right,  black -20%, #339933 80%);
}
.wide_pattern .title2 span{
	font-size: 20px;
	font-weight: bolder;
	margin-right: 10px;

}
.wide_pattern .title_info2{
	text-align: center;
	/*border-top: 5px solid #339933;*/
}
.wide_pattern .title_info2 span{
	font-size: 17px;
	text-align: right;
	color: black;
	/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
}




.wide_pattern .col-sm-12{
	margin-top: 0px;
}


.wide_pattern .col-sm-4{
	padding: 0px;
	margin-right: 0px;

}

/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/
/*SLIDE SWITCH*/

/*Elcetronics Product List*/
/*Elcetronics Product List*/
/*Elcetronics Product List*/
/*Elcetronics Product List*/
/*Elcetronics Product List*/
.elec_list{
	margin-bottom: 10px;
} 
/*
.elec_list iframe{
	height: 700px;
	width: 1085px;
	width: 100%;
	float: left;
	border: 5px solid red;
	border: none;
}
*/
.elec_pro_list{
	float: left;
	max-height: 500px;
	overflow-y: scroll;
	margin-bottom: 10px;
	background: white;
}
.elec_pro_list .list{
	/*margin-top: 50px;*/
	/*padding: 10px;*/
	float: left;
	margin-top: 0px;	
}
.electonics .title2{
	background: #003D00;
	/*background: #07C;*/
	text-align: center;
	color: white;
	background: red;
	float: left;
}
.electronics .title2 span{
	font-size: 20px;
	font-weight: bolder;
}
.elec-info-box{
	padding: 10px;
	width: 20%;
	height: 100%;
	text-align: center;
	float: left;
	width: auto;
	border: 3px solid;
	border-color: green;
	margin-bottom: 10px;
	margin-right: 10px;
}
/*Elcetronics Product List*/
/*Elcetronics Product List*/
/*Elcetronics Product List*/
/*Elcetronics Product List*/
/*Elcetronics Product List*/
.new_arrival{
	width: 100%;
	height: 300px;
	/*border: 3px solid #CCCC00;*/
	border: 3px solid #CCCC00;
	margin-bottom: 10px;
}
.new_arrival .new_title{
	background-color: #CCCC00;
	text-align: center;
	
}
.new_arrival span{
	font-weight: bolder;
	font-size: 24px;
}

.new_arrival .arrival{
	background-attachment: white;
}

.elec_list_but{
	position: fixed;
	display: block;
	/*height: 20px;*/
	width: 100%;
	background: green;
	text-align: center;
}
.elec_list_but ul{
	list-style-type: none;
}
.elec_list_but li{
	float: left;
	padding: 7px;
	width: 50%;
}
.elec_list_but a{
	color: white;
	text-align: center;
	text-decoration: none;
}
.elec_list_but li:hover{
	background: blue;
}

/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
.elec_pro_list .area{
	padding-left: 0px;
	padding-right: 0px;
}
.elec_pro_list .product-box{
	position: relative;
	/*-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
*/

	/*background-color: #708090;*/
	
}


.product_area .product-box-hover {
	position: absolute;
	/*background: black;*/
	/*opacity: 0.5;*/
	background-color:rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	display: none;


}
.product-box-hover .compare, .product-box-hover .details, .product-box-hover .remember{
	padding: 5px;
	background: white;
	width: 80%;
	text-align: center;
	margin-top: 20px;
	margin-left:10%; 
	margin-right:10%;
}

.elec_pro_list .product_area:hover .product-box-hover{
	display: block;

}


.elec_pro_list .product_area {
	text-decoration: none;

	border-bottom: 2px solid red;

	/*background: red;*/
}
.elec_pro_list .product_area a{
	text-decoration: none;

}

.elec_pro_list .product-box .image-space{
	height: 0px;
}
.elec_pro_list .product-box img{
	padding: 5%;
}

.elec_pro_list .pro_table {
	margin-bottom: 0px;
	color: black;
	text-align: center;
	/*font-weight: bold;*/
	font-size: 110%;
	width: 100%;
	float: left;
	/*background-color: #CCCCCC;*/
}
/*
.tabole td{
	text-align: center;
	color: red;
}*/

.elec_pro_list .col-sm-2{	
	padding-left: 0px;
	padding-right: 0px;
	/*width: 16%;*/
}


/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/
/*Prouduct LIST*/



/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
.comment_option span{
	background: black;
	color: white;
}
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/
/*COMMENT SECTION*/



/*ELECTRONICS WINDOW OVERLAP*/
/*ELECTRONICS WINDOW OVERLAP*/
/*ELECTRONICS WINDOW OVERLAP*/
/*ELECTRONICS WINDOW OVERLAP*/
/*ELECTRONICS WINDOW OVERLAP*/

/*ELECTRONICS WINDOW OVERLAP*/
/*ELECTRONICS WINDOW OVERLAP*/
/*ELECTRONICS WINDOW OVERLAP*/
/*ELECTRONICS WINDOW OVERLAP*/
/*ELECTRONICS WINDOW OVERLAP*/
/*ELECTRONICS WINDOW OVERLAP*/

/*ADD*/
/*ADD*/
/*ADD*/
/*ADD*/
/*ADD*/
/*ADD*/
/*ADD*/
.third .add{
	border-top: 20px solid;
	border-left: 5px solid;
	border-right: 5px solid;
	border-bottom: 5px solid;

	/*height: 900px;*/
	width: auto;
	border-color: yellow;
}
/*ADD*/
/*ADD*/
/*ADD*/
/*ADD*/
/*ADD*/
/*ADD*/


/*TOURISM*/
/*TOURISM*/
/*TOURISM*/
/*TOURISM*/
/*TOURISM*/
/*TOURISM*/
.spot-in-map{
	/*background-color: gray;*/
		padding-left: 30px;
		padding-right: 30px;
		border: 0px solid red;
}

.tourist_help{
	background-color: green;
	color: white;
	text-align: center;
	margin-top: 5px;
}
.tourist_help span{
	font-weight: bold;
	font-size: 20px;
}
.tourist_help_list a{
	color: white;
	background-color: gray;
	width: 100%;
	padding: 5px;
	display: inline-block;
	margin-bottom: 2px;
	border-left: 2px solid green;
	border-right: 2px solid green;
	text-decoration:none;
}
.tourist_help_list a:hover{
	background-color: green;
}

.attraction_title{
	width: 100%;
	background: green;
	/*border: 2px solid black;*/
	text-align: center;
	/*padding: 10px;*/
	color: white;
}
.attraction_title span{
	font-weight: bold;
	font-size: 20px;
}
.attraction{
	width: 100% !important;
	max-height: 250px;
}
.attraction_box{
	/*width: 210px;*/
	float: left;
	/*margin-right: 4px;*/
	padding-right: 5px;
	/*width: 280px;*/
	/*min-width: 120px;
	max-width: 18%;*/
}
.attraction_box img{
	/*width: 250px;*/
	/*min-width: 100%;*/
	/*min-height: 100%;*/
	/*min-width: 200px;*/
}

.attraction_info{
	text-align: center;
	padding: 5px;
}
.attraction_info span{
	font-size: 18px;
}

.attraction_iframe{
	height: 100%;
	width: 100%;
}

.attraction_iframe iframe{
	height: 295px;
	width: 100%;
	/*overflow-y: scroll;
	overflow-x: hidden;*/
	overflow: hidden;
	border: none;
}

/*TOURISM*/
/*TOURISM*/
/*TOURISM*/
/*TOURISM*/
/*TOURISM*/
/*TOURISM*/


/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
.service .title_info2 {
	text-align: left !important;
}
.sub_service{
	margin-top: 5px;
	height: 35px;
}
.sub_service span{
	background: #4DA64D;
	width: 100%;
	padding:10px;
}
.sub_service_content{

}
.sub_service_content span{

}
.service .col-sm-2{
	padding-left: 0px;
	padding-right: 0px;
}
.service iframe{
	border-left: none;
}
.service .title_info2{
	border-right: 2px solid black;
}
.service_branch_list{
	text-align: center;
}
.branch_box{
	margin-bottom: 10px;
}
.service_branch_list .branch_title{
	background: green;
	width: 100%;
}
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/
/*SERVICE*/


/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
.transport_name{
	background-color: black;
	text-align: center;
	margin-top: 10px;
}
.transport_name span{
	color: white;
	font-size: 35px;
	font-weight: bolder;
}
.journy_info_table
{
	margin-top: 5px;
}
.journy_info_table table, .journy_info_table td, .journy_info_table th, .journy_info_table tr{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}
.transport .from_to{
	border: 2px solid green;
	padding: 5px;
	margin-top: 7px;
}

.transport .from_to_title{
	
	background-color: green;
	padding: 2px 0px 2px 2px;
}

.transport .from_to_title span{
	/*background-color: green;*/
	font-size: 20px;
	color: white;
	font-weight: bold;
}
.transport .journey_title{
	float: left;
	background-color: #A3A4A6;
	width: 190px;

}
.transport .journey_title span{
	font-size: 17px;
	
	padding: 2px 0px 2px 2px;
	margin-top: 0px;
	width: 200px;
}
.transport .break, .transport .route, .transport .counter{
	margin-top: 7px;
}
.transport .journey_info{

}
.transport .journey_info span{
	font-size: 17px;
	padding: 2px 0px 2px 2px;

}

.transport td.see_fare{
	background-color: lightgreen;
	
}
.transport td.see_fare a{
	font-weight: bold;
	text-decoration: none;

}


.train_fare{
	float: left;
	margin-right: 5px;
	width: 8%;
	word-break: break-all;
}
.train_fare span{
	word-break: break-all;
}
.train_fare_row{
	width: 100%;
}

.fare_display {
	/*display: none;*/
	position: absolute;
	width: 98.5%;
	float: left;
	background-color: #C0C0C0;
	color: black;
	border: none;
}
.fare_row_wide, .fare_display td{
	/*width: 200% !important;*/
	width: 1100px;
}


/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/
/*TRANSPORT*/


.popup img{
	height: 150px;
	/*float: left;*/
}
.popup .img_{
	float: left;
}
.popup{
	width: 100%;
	height: auto;
	/*min-width: 600px;*/
}
.popup .popup_name{
	margin-left: 155px;
	
	padding-left: 10px;
}
.popup .popup_name span{
	font-size: 22px;
	word-break: break-all;
	border-bottom: 2px solid green;
}
.popup_rate{
	margin-left: 165px;
}

.popup_des{
	margin-top: 10px;
}

.popup .popup_des{
	
}
.popup .popup_des span{
	/*margin-left: 13px;*/
}


#sub_menu_list, #sub_menu_list2, #sub_menu_list3, #sub_menu_list4, #sub_menu_list5, #sub_menu_list6, #sub_menu_list7{
	display: none;
	/*background-color: red;*/
}

.life-list {
	width: 100%;
	/*margin-top: 10px;*/
	border: 3px solid black;
	/*margin-bottom: 10px;*/
	background-color: #CFCFCF;
	float: left;
}

.life-list .all_items{
	width: 90%;
	margin-left: 10%;
}

.life-list .fashion_cata_list{
	width: 7.2%;
	min-width: 80px;
	float: left;
	height: auto;
	position: absolute;
	overflow-y:auto;
}

.life-list li{
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

li.fashion_cata{
	width: 100%;
	background-color: #180000 ;
	margin-bottom: 2px;
	/*border: 1px solid yellow;*/
	color: white;
}

.fashion_sub_cata li{
	width: 100%;
	background-color:  	rgb(150,150,150);
	margin-bottom: 2px;
	/*border: 1px solid yellow;*/
	color: white;
}

.fashion_product_list{
	display: block;
	min-height: 50px;
	/*background-color: rgb(100,100,100);*/
	/*background-color: red;*/
	/*margin-left: 10%;*/
	/*margin-left:80px;*/
	overflow-y: auto;
	max-height: 437px;
}


.fashion_product_list .info-box{
	float: left;
/*	margin-right: 5px;
	margin-bottom: 5px;*/
	border: 1px solid green;
	margin: 2px;
}


.info_box_img img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 300px;
	max-width: 150px;
}

.product_info{
	background-color: white;
	color: black;
}
.product_info td{
	color: rgb(80,80,80) ;
}

.new_arrival .arrival{
	height: 260px;
	overflow-y:  scroll;
}
.new_arrival table{
	width: 100%;

}

.new_arrival td{
	/*background-color: red;*/

}
.new_arrival tr{
	margin-bottom: 5px;	
}

td{
	text-align: center;
}

 .comment_user_review{
	float: left;	
	width: 220px;

	
}

 .popup_des{

	border-left: 2px solid green;
	/*display: block;*/
	margin-left: 33.5%;
	padding-left: 10px;
}
.popup_head{
	display: block;
}
.pro_table{
	/*width: 100%;*/
	/*background-color: green;*/
	/*float: left;*/
}
.elec_details{
	margin-top: 20px;
}
.elec_details th{
	/*border: 3px solid black !important;*/
}
.elec_details th, .elec_details td{
	text-align: center;
	border: 1px solid black;
	height: 35px;
}
.elec_details tr{
}

.spe_1{
	width: 6%;
	font-weight: bold;
}
.spe_line1{
	background-color: 
}

.spe_line1{
	/*background-color: #787878 ;*/
	background-color: #80CC80;
	color: white;
}

.spe_line2{
	/*background-color: #A0A0A0;*/
	background-color: #CCEBCC;
}

.spe_2{
	width: 25%;
}

.product_details{
	
	background-color: red;
	background-color: #E6E6E6;
	margin-left: 10px;
	
	padding-left: 10px;
	float: left;
	width: 100%;
	padding-bottom: 10px;
}


.product_details_left{
	float: left;
	margin-top: 10px;
	max-width: 175px;
	max-width: 175px;
}
.product_details_left_des{
	padding-left: 15px;
	padding-top: 8px;
	float: left;
	margin-right: 10px;
}


.product_details_right{
	margin-top: 10px;
	float: right;
	max-width: 175px;
	max-width: 175px;
	margin-right: 10px;
	margin-left: 10px;
}

.product_details_right_des{
	float: right;
	
	margin-top: 10px;
	
}

.product_img{
	position: relative; 
	width: 100%;
}

.product_img_name_left{
	display: none;
	top: 147px;
	background: black;
	opacity: 0.5;
	width: 175px;
	text-align: center;
	position: absolute;

}

.product_img_name_right{
	float: right;
	display: none;
	top: 147px;
	background: black;
	opacity: 0.5;
	width: 175px;
	text-align: center;
	position: absolute;

}

.product_img_name_left span, .product_img_name_right span{
	font-weight: bold;
	font-size: 20px;
	color: white;
}
.product_details:hover .product_img_name_left, .product_details:hover .product_img_name_right{
	display: block;
}

.overlay-content{
	/*border: 5px solid red;*/

	/*border: 2px solid #dadada;*/
    border-radius: 2px;
    outline: none;
    /*border-color: #9ecaed;*/
    /*box-shadow: 0 0 100px #9ecaed;*/
    /*box-shadow: 0 0 100px green;*/
}

.food .product_details{
	margin-top: 20px;
}


.login_main hr{
	width: 200px;
	margin-top: -1px;
}

.login_main input.box{
	width: 200px;
	margin-top: 10px;
	border: transparent;
	font-size: 18px;
}

.login_main input.but{
	width: 100px;
	height: 35px;
	font-size: 15px;
}

.log_in{
	float: left;
}


.sign_up{
	float: left;
	margin-left: 50px;
}

.general_image img{
	/*max-height: 360px;*/
	height: 100%;
}

.footer{
	height: 500px;
}

.cata_sub_cata{
	/*float: left;*/

}
.cata_sub_cata .cata_t{
	float: left;
	margin-right: 90px;
}

.cata_sub_cata .sub_cata_t{
	float: left;
	margin-right: 17px;
}

.map_location{
	float: left;
	margin-left: 10px;
}

#branch_map span{
	margin-top:6%; 
	margin-left:1.5%; 
	color:white; 
	background:black; 
	opacity:0.5; 
	position:absolute;
	font-weight: bold;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 4px;
}





/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 00%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 00%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 00%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 00%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 0%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 00%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
  background-image:  linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 00%)
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	width: 100%;
}


/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/
/*SLIDE SHOW NEXR PRE*/





.com_submit{
	padding: 10px;
	background: white;
	border:0.5px solid gray;
	text-decoration: none !important;
}

.com_submit:hover{
	box-shadow: .5px .5px 1px black;
}




.profile_but{
	display: inline-block;
}

.pro_option{
	display: none;
	margin-top: 0px;
	width: 100px;
	margin-left: -50px;
	position: absolute;
}


.profile_but img{
	width: 40px;
	border-radius: 5000px;
	box-shadow:  0px 0px 0px 4px green;
}
.profile_but a{
	outline: none;
}
.arrow-down{
	/*width: 10px;*/
	margin-left: 58%;
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	
	border-bottom: 15px solid black;
	margin-bottom: -5px;
}
.pro_option li{
	background: #1a0000;
	padding: 5px;
	/*margin-bottom: 1px;*/
	width: 100%;
	text-align: center;
	list-style-type: none;
}

.profile_but:hover  .pro_option{
	display: block;
	position: absolute;
}

li.hudai{
	background: transparent;
}

.user_profile .container-fluid{
	padding: 0px;
}
.profile_left{
	text-align: center;
	background:  white;
	float: left;
	position: fixed;
}

.profile_right{
	/*border-left: 20px solid #CFCFCF;*/
	/*background: white;*/
	width: 80%;
	margin-left: 20%;
}
.tab-content{
	overflow-y: auto;
	overflow-x: auto;
	/*height: 700px;*/
	height: auto;
	max-height: 900px;
}
.profile_left img{
	padding: 10px;
}

.profile_right li{
	width: 16.6%;
	text-align: center;
}

.user_comment{
	padding: 20px;
}

.profile_right .user_comment{
	width: 100%;
	height: auto;
	background: white;
	margin-bottom: 5px;
}

.profile_right .user_comment .comment_head{
	border-bottom: 1px solid #CFCFCF;
	padding-bottom: 5px;
}

.profile_right .user_comment .comment_body{
	padding-top: 5px;
	/*padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	*/
}

.profile_right span.bus_pro{
	font-size: 22px;
	font-weight: bold;
	text-decoration: underline;
}

.profile_right span.bus_cata{
	font-size: 12px;
	font-weight: bold;
	color: #808080;
}
.profile_right span.bus_date{
	font-size: 12px;
	color: #808080;
}
.profile_right a{
	outline: none;
}

.nav-tabs{
	background: #686868;
}


.pro_user_review
{
	/*width: 180px;*/
	/*float: left;*/
	box-sizing: border-box;
}

.pro_user_review .comment_user_review{

	width: 200px;
	padding-right: 20px;
}
.pro_user_review_txt{
	padding-left: 16%;
}

.food_item_table{
	margin-top: 10px;	
}

#but_list_noti{
	/*display: none;*/
}
.bookmark_left{
	width: 49.5%;
	float: left;
	overflow: auto;
	height: 850px
}


#bookmark .comment_head{
	border-bottom: none !important;
	padding-right: 20px;
	float: left;
}

.bookmark_left .bus_type{
	margin-top: 30px;
}

.bookmark_right{
	margin-left: 1%;
	width: 49.5%;
	float: left;
	height: auto;
	overflow: auto;

	height: 850px;
}
.bookmark_right .bus_type{
	margin-top: 30px;
}

.title_info2{

	text-align: justify !important;
    padding-left: 10px;
    padding-right: 10px;
    	
}
.title_info2 span{
}

.info_box2{
	/*max-height: 150px;*/
	overflow: hidden;
	
}


 .see_more{
	display: none;
	text-align: right;
	padding-bottom: 4px;
	padding-right: 1px;
	position: relative;
	margin-top: -27px;
	position: inherit;
	margin-bottom: 10px;
}


 .see_more a{
	padding: 5px;
	background: gray;
	color: white;
	outline: none;
}

/*<div class="see_more" style=""><a href="" onclick="seeMore()">See More</a></div>*/
/*

			$wptop = '<div class="info_box2">
						<div class="title2">
							<span>
			';
			$wpmiddle = 	'</span>
						</div>
						<div class="title_info2">
						<span>
			';
			$wpbottom = '
						
				</div>
				<!--<div class="see_more" style=""><a href="" onclick="seeMore()">See More</a></div>-->
			';

onclick=\"this.parentElement.style.height = '500px';
$wpbottom." <div class='see_more'><a href='#0' >See More</a></div>  </div>";
*/



.profile_image_frame iframe{
	width: 100%;
	min-height: 400px;
	background: gray;
	border:none;
	overflow: hidden !important;
}

.profile_image_frame iframe img#thumbnail{
	max-width: 100px !important;
	/*max-height: 100px ;*/
}
.search{
	/*vertical-align: middle;*/
	/*width: 14%;*/
	/*background: red;*/
	/*float: left;*/
	width: 100%;
}

.search_box{
	padding-right: 10px;
	padding-left: 5px;
	padding-top: 4.5px;
	padding-bottom: 3.5px;
	/*background: green;*/
	/*opacity: 0.8;*/

	background: #299029;

	float: left;
	width: 20%;
	min-width: 200px;
	/*background: red;*/

}
.search_box input{
	/*width: 220px;*/
	width: 80%;
	float: left;
	height: 30px;
	padding-left: 8px;
	/*margin-right: -40px;*/
	/*border-radius: 2px;*/
	
		background: #299029;
	/*font-weight: bold;*/
	/*background: #006600;*/
	color: white;
	margin-right: 5px;
	border: none;
	border: 1px solid white;
}
.search_box a{
	width: 20%;
}



.nav-pos ul.mod{
	float: left;
	width: 100%;
}


#search_show{
	margin: 0 auto; 
	max-height: 150px; 
	/*border: 1px solid #f4f4f4; */
	overflow: hidden;
	position: absolute;
	font-size: 13px;
	margin-top: 0px;
	box-shadow: 2px 2px 5px gray;
}
#text{
}
#searchtitle{
	padding: 5px; 
	background: white;
	opacity: 1;
	text-align: left;
	padding-left: 10px;
	color: black;
}
#searchtitle a{
	color: black;
}
#searchtitle:hover{
	background: gray;
}
#searchtitle a:hover{
	color: white;
}

.search a{
	cursor: pointer;
}




.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	position: inherit;
}
.navbar-toggle{
	position: inherit;
}

.search_result_box{
	padding: 10px;
	background: #e6e6e6;
	margin-bottom: 10px;
	float: left;
	width: 99%;
}
.search_result_box .image_side{
	float: left;
	padding-right: 10px;
}

.bus_pro_name{
	font-size: 25px;
	color: #1a0dab;
}

.bus_pro_cata_sub{
	color: gray;
}
.bus_pro_des{
	color: #555;
}
.search_item a{
	font-size: 18px;
	margin-right: 10px;
}


.pro-op_bar a{
	color: white;
}

.pro-op_bar .nav-tabs > li > a{
	margin-right: 0px;
	border-radius: 0px 0px 0 0;
}

.pro-op_bar .nav-tabs > li > a:hover{
	color: green;
}

.personal_data{
	float: left;
	margin-top: 20px;
	width: 100%;

}

.personal_data span.name{
	font-size: 25px;
	background: gray;
	padding: 0px;
	width: 100%;
	float: left;
	color: white;
}

.personal_data span.user_type{
	width: 100%;
	float: left;
	font-size: 18px;
}
.personal_data span.user_contact{
	width: 100%;
	float: left;
	font-size: 16px;
}

.item_type{
	background: gray;
}
.item_type span{
	font-weight: bold;
	color: white;
}

.filter_list_but{
	padding: 5px !important;
	color: white;
	border: 2px solid green; 
	border-radius: 0px !important;
}
 a.filter_list_but{
	outline: none;
}

td.item-num{
	padding: 10px !important;
}
td.item-price{
	padding: 10px !important;	
}

td.item-num span{
	background: green;
	color: white;
	padding: 5px 9px 5px 9px;

	border-radius: 500px;
	font-weight: bold;
}

td.table_img{
	width: 1%;
}

td.item-name{
	padding: 10px !important;
	width: 20% ;
	
}

td.item-rate{
	padding: 10px !important;
}


