.admin_login .login_main hr{
	width: 200px;
	margin-top: -1px;
}

.admin_login .login_main input.box{
	width: 200px;
	margin-top: 10px;
	border: transparent;
	font-size: 18px;
}

.admin_login .login_main input.but{
	width: 100px;
	height: 35px;
	font-size: 15px;
}

.admin_login .log_in{
	float: left;
}

.admin_login .login_main{
	margin-left: 30%;
}
.admin_login .sign_up{
	float: left;
	margin-left: 50px;
}

input.input_field{
	width: 500px;
	height: 30px;
	border-radius: 2px;
	margin-top: 10px;
}

textarea.input_field{
	width: 500px;
	/*height: 30px;*/
	border-radius: 2px;
	margin-top: 10px;
}
.info-area{
	margin-top:15px;
}




.input_box span{
	float: left;
	width: 200px;
	text-align: right;
	margin-top: 15px;
}

.facilities_input{
	float: left;
	width: 100%;
}

.facilities_set{
	float: left;
	width: 100%;
}
.facilities_input span{
	float: left;
	width: auto;
	text-align: left;
	margin-top: 0px;
}
.facilities_input fieldset{
	width: auto;
	min-width: auto;
	float: left;
}
.facilities_input fieldset{
	float: left;
}
.facilities_input input{
	/*min-width: auto !important;*/
	width: auto !important;
	float: left;
}
input.input_field{
	padding-left: 20px;
	resize: horizontal;
}

textarea.input_field{
	padding-left: 20px;
	
}


#cata_list{
	/*float: left;*/
	margin-right: 30px;
	margin-left: 107px;
}

#sub_food{
	display: none;
}
#sub_life_style{
	display: none;
}

.input_fields_page input.item_name, .input_fields_page input.item_price{
	width: 200px;
}

.input_fields_page .input_box{
	float: left;
	margin-right: 30px;
}

.input_fields_page .input_box span{
	text-align: left;
	width: 60px;
}

.input_fields_page .area{
	float: none;
}

.one_item{
	margin-bottom: 30px;
	width: 100%;
}

.data{
	float: left;
	width: 100%;
}


.item_image{
	/*float: left;*/
}

textarea.item_des{
	width: 200px;
	float: left;
}

.item_image{
	margin-left: 30px;
	/*float: left;*/
}

.item_image iframe{
	width: 500px;
	height: 500px;
	border: none;
}

.input_fields_page{
	margin-top: 50px;
	
}
.one_item{
	background: rgb(150, 150, 150);
	margin-top: 20px;
	margin-bottom: 20px;
}
.remove_field{
	padding: 10px;
	background: red;
	font-size: 25px;
	font-weight: bold;
	color: white;
	margin-top: -60px;
	margin-left: 10px;
	position: absolute;
}

.sub_but{
	float: none;
	margin-left: 40%;
}
.sub_but input{
	width: 40%;
	height: 60px;
	background: green;
	font-size: 40px;
	font-weight: bold;
	color: white;
	margin-top: 50px;
	margin-bottom: 500px;
}

.general{
}
.general_info{
	float: left;
}

.title_image{
}

.title_image iframe{

	width: 500px; 
	height: 500px;
	border: none;
}

.item_info{
	float: left;
}





.admin_input_box{
	float: left;
	width: 99%;

	background: white;	
	padding: 10px;
	margin-top:-10px;
}
.admin_input_box input, .admin_input_box textarea{
	border: none;
	padding: 5px;
	height:30px;
	border:1px solid green;
	margin-tbottom:10px;
}
.admin_input_box input[type="text"], .admin_input_box textarea{
	width: 80%;
	float: left;
	color: black;
}

.admin_input_box input[type="submit"]{
	width: 20%;
	float: left;
	background: rgb(120,120,120);
	min-width: 70px;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
}


.edu_item_name_list_X input, .edu_item_name_list_X textarea{
	height: 30px;
	max-width: 200px;
	margin-left: 10px;
}


.edu_item_name_list_X .admin_input_box{
	margin-bottom: 5px;
	padding: 0px;
	width: auto;
	margin-top: 0px;
}

.edu_item_name_list_X h3, .edu_item_name_list_X h4, .edu_item_name_list_X span{
	margin-left: 2%;
	float: left;
	margin-top: 2px;
	width: 58%;

}

.add_item_button{
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}





.all_cata_num{
	float: left;
	width: 100%;
	padding: 10px;
	background: rgb(210,210,210);
}

.cata_num_title{
	float: left;
	width: 100%;
	text-align: center;
	background: rgb(100,100,100);
	color: white;

	padding: 7px;
	font-size: 16px;
}

.cata_num{
	float: left;
	width: 14.2%;
	padding: 10px;
}


.sub_cata_num_list{
	margin-top: 5px;
	padding: 5px 10px;
	float: left;
	background: rgb(230,230,230);
	width: 100%;
	border-radius: 2px;
}

.sub_cata_num_list span:last-child, .sub_cata_num_list_total span:last-child{
	float: right;
	padding-right: 20px;
}

.sub_cata_num_list_total{
	padding: 5px 10px;
	float: left;
	width: 100%;
	border-radius: 2px;

	margin-top: 10px;
	background: rgb(150,150,150);
	color: white;
}

.wide_pattern .info_box{
	float:left;
	width:100%;
}


.user_info_panel{
	background: rgb(230,230,230);
	border-right: 10px solid white;
	border-bottom: 10px solid white;
	height: 200px;
}
.user_info_panel img{
	height: 150px;

}
.user_info_img{
	float: left;
}

.user_info_data{
	/*padding-left: 5px;*/
	float: left;
	width: 180px;
	padding-left: 10px;

}

.user_info_data h4, .user_info_data span{
	float: left;
	width: 100%;
}
.user_usages_info_data{
	float: left;
	width: 150px;
	border-left: 1px solid gray;
	margin-left: 10px;
	padding-left: 4px;
}
.user_usages_info_data span{
	width: 100%;
	float: left;
}


.admin_dash{
	margin-bottom: 20px;
	float: left;
}





.admin_dash .col-sm-3{
		/*padding: 10px;*/
	}

	.admin_dash .col-sm-3:first-child{
		padding-left: 0px;
	}
	.admin_dash .col-sm-3:last-child{
		padding-right: 0px;
	}

	.admin_dash a{
		background: rgb(180,180,180);
		width: 100%;
		float: left;
		padding: 50px;
		text-align: center;
		/*border:10px solid #E6E6E6;*/
		font-size: 18px;
		font-family: Cambria, Georgia, serif;
		color:white;
	}
	.admin_dash a:hover{
		background: rgb(130, 130, 130);
		color: white;
		text-decoration: none;
	}




	.admin_comment_inside{
		float: left;
		width: 100%;
		background: white;
		margin-top: 10px;
		padding: 10px;
	}



	.admin_dash .col-sm-4{
		padding-left: 0px;
		padding-right: 0px;
	}
	.admin_comment_user{
		padding: 5px 5px 5px 0px;
	}

	.admin_comment_user_img{
		float: left;
		padding-right: 10px;
		width: 50%;
		text-align: center;
	}
	.admin_comment_user_img img{
		/*width: 150px;*/
		width: 100%;
	}
	.admin_comment_user_info{
		float: left;
		width: 50%;
	}
	.admin_comment_user_info h3, .admin_comment_user_info span{
		float: left;
		width: 100%;
		text-align: center;
	}


	.admin_comment_content{
		float: left;
		width: 100%;
	}

	.admin_comment_content h3, .admin_comment_content span{
		float: left;
		width: 100%;
	}


	.admin_comment_item{
		float: left;
		width: 100%;
	}

	.admin_comment_item_img{
		width: 40%;
		float: left;
	}
	.admin_comment_item_info{
		float: left;
		width: 50%;
		padding-left: 5px;
	}
	.admin_comment_item_info h2, .admin_comment_item_info span{
		float: left;
		width: 100%;
	}


	.admin_comment_item_rating{
		float: left;
		width: 100%;

	}


	.admin_comment_comment{
		float: left;
		width: 100%;
	}
	.admin_comment_data{
		float: left;
		width: 100%;
	}
	.admin_comment_comment h2, .admin_comment_comment span{
		float: left;
		width: 100%;
	}

	.admin_comment_image{
		float: left;
		width: 100%;
	}

	.admin_comment_image .comment_img_box{
		float: left;
		width: 33.33%;
		padding-right: 5px;
	}
	

	.admin_comment_action{
		float: left;
		width: 100%;
	}
	.admin_comment_action input{
		float: left;
		width: 100%;
		border: none;
		background: rgb(200,200,200);
		border: 1px solid rgb(170,170,170);
		margin-bottom: 5px;
	}



	.point_table_form{
		width: 800px;
		margin:0 auto;

	}
	.point_table_form_inside{
		width: 100%;
		float: left;
		background: orange;
		padding: 10px;
		margin-top: 50px;
		border-radius: 3px;
	}
	.point_table_form textarea, .point_table_form input{
		
		float: left;
		height: 60px;
		padding: 5px;
		resize: none;
		border-radius: 3px;
		border: 1px solid rgb(200,200,200);
	}
	
	.point_table{
		float: left;
		width: 100%;
		margin-top: 50px;
		background: white;
		padding: 10px;
	}
	.point_table_list{
		float: left;
		width: 100%;
		background: rgb(235,235,235);
		margin-bottom: 3px;
		padding: 5px;
		text-align: center;
	}
	.point_table_list span{
		float: left;
		width: 8%;
		padding-top: 40px;
	}

	.point_table_list span:nth-child(1){
		width: 2%;
	}
	.point_table_list span:nth-child(2){
		min-width: 10%;
		padding-top: 0px;
	}
	.point_table_list span:nth-child(3){
		width: 15%;
	}
	.point_table_list span:nth-child(4){
		width: 30%;
		padding-top: 10px;
	}

	.point_table_list_title{
		background: rgb(150,150,150);
	}
	.point_table_list_title span{
		font-weight: bold;
		color: white;
	}

.reward_img iframe{
	width: 100%;
	height: 300px;
	/*padding-left: 10px;*/
	float: left;
}

.point_table_form .reward_img{
	float: left;
	width: 50%;
}

.form_input_box{
	float: left;
	width: 49%;
	padding-left: 10px;
}

.form_input_box input, .form_input_box textarea{
	float: left;
	width: 100%;
}

/*.point_table_form textarea:nth-child(1){
	width: 150px;
}*/
.point_table_form textarea:nth-child(2){
	height: 120px;
}
/*.point_table_form textarea:nth-child(3){
	width: 100px;
}*/
/*.point_table_form input{
	width: 130px;
}*/


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: gray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: gray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: gray;
}
:-moz-placeholder { /* Firefox 18- */
  color: gray;
}


.input_empty{
	background: red;
}


.attraction_iframe{
	height: 700px;
}
.attraction_iframe iframe {
    height: 700px;
  }
   
.attraction_box{
   	    max-width: 340px;
   }


 .admin_single_input_box{
 	float: left;
 	border: 1px solid gray;
 	margin-bottom: 20px;
 	background: rgb(200,200,200);
 	width: 100%;
 	padding: 20px;
 }