.item_list_info{
	float: left;
	max-width: 30%;
	margin-right: 5px;
}

.electronic .item_list_info{
	float: left;
	max-width: 95%;
	margin-right: 5px;
}
.item_list_elec{
	/*float: none !important;*/
}
.one_item_list{
	background: white;
}
.item_list {
	background: #a8a8a8;
}

.item_list input, .item_list textarea{
	width: 100%;
	border: 2px solid black;
	padding: 3px;
	max-width: 240px;
}

.electronic .item_list input, .electronic .item_list textarea{

	max-width: 33%;
}

.item_list .input_box{
	margin-top: 5px;
}

.item_list .item_image{
	margin-top: 5px;
}

.item_list .item_image iframe{

	width: 75%;
	min-width: 50%;
	height: 500px;
}

.electronic .item_image iframe{
	width: 95%;
	height: 500px;
}

.info .input_box{
	margin-top: 3px;
}

.info .input_box input, .info .input_box textarea{
	width: 100%;
	border: 1px solid gray;
	padding: 3px;
	color:black;
}

.info .input_box input::-webkit-input-placeholder, .info .input_box textarea::-webkit-input-placeholder{
	color:gray;
	opacity:0.6;
}
.info .input_box input::-moz-placeholder, .info .input_box textarea::-webkit-input-placeholder{
	color:gray;
	opacity:0.6;
}

.title_image iframe{
	width: 80%;
	height: 500px;
}

.info_title_img{
	border: 5px solid green;
	padding: 3px;
	padding-top: 0px;
	margin-bottom: 25px;
}


.info_title_img h2, .main_image h2{
	text-align: center;
	background: black;
	color: red;
	padding: 5px;
	margin-bottom: 5px;
}

.main_image{
	border: 5px solid #c3c300;
	padding: 3px;
	padding-top: 0px;
	margin-bottom: 25px;
}

#item_list_filter{
	margin-top: 20px;	
}

#item_list_filter select{
	width: 60%;
}



/*
#life_style_filter{
	margin-bottom: 20px;
	margin-top: 20px;
}*/
.life_style_1_filter{
	float: left;
	width: 100%;
	padding: 10px;
}

#life_style_filter select{
	width: 60%;
}


img.cropped_img{
	max-width: 400px;
}

.input_box_file{
	margin-bottom: 10px;
}

.input_box_file span{
	float: left;
}


.info select{
	width: 150px;
	border: 1px solid black;
	margin-left:20px;
	margin-top:30px;
	padding:5px;
}

.info .last{
	margin-bottom: 25px;
}

.elec_sub input{
	height: 40px;
	width: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 3px solid black;
}


.admin_footer{
	height: 250px;
}
.specification{
	width: 100%;
}
.specification input{
	margin: 5px;
	min-width: 350px;
	height: 40px;
}

.input_box_elec{
	float: left;
	background: red;
}


.electronic .one_item_list{
	border-bottom: 10px solid black;
	margin-bottom: 20px;
}

.submit_button{
	background: green;
	padding: 10px;
	font-size: 70px;
	vertical-align: middle;
	float: left;
	width: 100%;
	margin-top: 20px;
}
.submit_button input{
	margin-left: 40%;
	color: green;
}

.item_image{
	float: left;
	min-width: 600px;
}

.item_list .col-sm-6{
	width: auto !important;
}

option.male_c_{
	background: gray;
	color: red;
}

.female_c_{
	background: green;
}

.kids_c_{
	background: orange;
}
.general_image a {
    padding: 10px;
    background: red;
    z-index: 10000;
    position: absolute;
    margin-top: 45px;
    float: left;
}

.map_location{
	margin-bottom: 20px;
}



.xmlFilePanel{
	float: left;
	width: 100%;
	margin-bottom: 30px;
	padding: 10px;
}
.xmlFilePanel span{
	float: left;
	width: 100px;
}
.xmlFilePanel input{
	width: 51%;
	float: left;
	margin-bottom: 10px;
}